In [169]:
import pandas as pd
import numpy as np 
import re
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

### exploraci√≥n y limpieza del csv 'goodreads_top100_from1980to2023'

In [66]:
df_goodreads_top100 = pd.read_csv ('input_files/goodreads_top100_from1980to2023_final.csv', index_col=0)

In [67]:
df_goodreads_top100

,isbn,title,series_title,series_release_number,authors,publisher,language,description,num_pages,format,genres,publication_date,rating_score,num_ratings,num_reviews,current_readers,want_to_read,price,url
0,9780689830594,Summer Story,Brambly Hedge,2,Jill Barklem,Atheneum,English,It was such a hot summer. The sky was deep blu...,32,Hardcover,"['Picture Books', 'Childrens', 'Fiction', 'Ani...","January 1, 1980",4.45,1017.0,74.0,7.0,512.0,3.49,https://www.goodreads.com/book/show/421572.Sum...
1,9780375704970,The Lake of Darkness,NaN,NaN,Ruth Rendell,Vintage Crime/Black Lizard,English,Martin Urban is a quiet bachelor with a comfor...,210,Paperback,"['Mystery', 'Fiction', 'Crime', 'Thriller', 'B...","January 1, 1980",3.76,1388.0,114.0,77.0,623.0,4.99,https://www.goodreads.com/book/show/83394.The_...
2,9780345446671,Beyond the Blue Event Horizon,Heechee Saga,2,Frederik Pohl,Ballantine Books,English,"In Book Two of the Heechee Saga, Robinette Bro...",336,Paperback,"['Science Fiction', 'Fiction', 'Space Opera', ...","January 1, 1980",3.95,13307.0,339.0,181.0,3961.0,11.99,https://www.goodreads.com/book/show/373399.Bey...
3,9780446403016,St. Peter's Fair,Chronicles of Brother Cadfael,4,Ellis Peters,Mysterious Press,English,A pause in the civil war offers Shrewsbury's t...,217,Mass Market Paperback,"['Mystery', 'Historical Fiction', 'Fiction', '...","May 1, 1981",4.12,10493.0,593.0,1298.0,2502.0,0.00,https://www.goodreads.com/book/show/751755.St_...
4,9780425198773,Twice Shy,NaN,NaN,Dick Francis,G.P. Putnam's Sons,English,A computerized horse-betting system falls into...,304,Mass Market Paperback,"['Mystery', 'Fiction', 'Thriller', 'Crime', 'S...","January 1, 1981",3.92,4188.0,174.0,162.0,642.0,8.99,https://www.goodreads.com/book/show/103250.Twi...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4395,9781451648218,Murder Your Employer: The McMasters Guide to H...,NaN,NaN,Rupert Holmes,Avid Reader Press / Simon & Schuster,English,A devilish thriller with a killer concept: The...,389,Hardcover,"['Mystery', 'Fiction', 'Thriller', 'Mystery Th...","February 21, 2023",3.89,20992.0,3479.0,4033.0,84900.0,12.99,https://www.goodreads.com/book/show/61272658-m...
4396,9781250826978,System Collapse,The Murderbot Diaries,7,Martha Wells,Tor Publishing Group/Tordotcom,English,Everyone's favorite lethal SecUnit is back.\nF...,245,Hardcover,"['Science Fiction', 'Fiction', 'Audiobook', 'A...","November 13, 2023",4.24,26566.0,3479.0,3609.0,36600.0,11.99,https://www.goodreads.com/book/show/65211701-s...
4397,9781496737298,"Georgie, All Along",NaN,NaN,Kate Clayborn,Kensington,English,A wise and witty new novel that echoes with ti...,340,Paperback,"['Romance', 'Fiction', 'Contemporary', 'Contem...","January 24, 2023",3.82,48031.0,6590.0,3180.0,76300.0,0.00,https://www.goodreads.com/book/show/60604190-g...
4398,9780525619994,Sword Catcher,Sword Catcher,1,Cassandra Clare,Del Rey Books,English,"In the vibrant city-state of Castellane, the r...",624,Hardcover,"['Fantasy', 'Romance', 'Adult', 'Young Adult',...","October 10, 2023",3.84,14991.0,3523.0,4485.0,149000.0,14.99,https://www.goodreads.com/book/show/36679274-s...
4399,9780593239919,"Poverty, by America",NaN,NaN,Matthew Desmond,Crown,English,"The Pulitzer Prize‚Äìwinning, bestselling author...",284,Hardcover,"['Nonfiction', 'Politics', 'Sociology', 'Histo...","March 21, 2023",4.30,28248.0,4007.0,6021.0,133000.0,13.99,https://www.goodreads.com/book/show/61358638-p...

In [68]:
def extraer_primera_palabra(dataframe, columna_original, nombre_nueva_columna):
    # Dividir la columna por comas y seleccionar la primera palabra
    dataframe[nombre_nueva_columna] = dataframe[columna_original].str.split(',').str[0].str.strip()

In [69]:
extraer_primera_palabra(df_goodreads_top100, 'genres', 'genre')

In [70]:
df_goodreads_top100['genre'] = df_goodreads_top100['genre'].str.replace("[", "").str.replace("']", "").str.replace("'", "")

/tmp/ipykernel_291491/3037088948.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_goodreads_top100['genre'] = df_goodreads_top100['genre'].str.replace("[", "").str.replace("']", "").str.replace("'", "")
/tmp/ipykernel_291491/3037088948.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df_goodreads_top100['genre'] = df_goodreads_top100['genre'].str.replace("[", "").str.replace("']", "").str.replace("'", "")

In [71]:
df_goodreads_top100.head()

,isbn,title,series_title,series_release_number,authors,publisher,language,description,num_pages,format,genres,publication_date,rating_score,num_ratings,num_reviews,current_readers,want_to_read,price,url,genre
0,9780689830594,Summer Story,Brambly Hedge,2,Jill Barklem,Atheneum,English,It was such a hot summer. The sky was deep blu...,32,Hardcover,"['Picture Books', 'Childrens', 'Fiction', 'Ani...","January 1, 1980",4.45,1017.0,74.0,7.0,512.0,3.49,https://www.goodreads.com/book/show/421572.Sum...,Picture Books
1,9780375704970,The Lake of Darkness,NaN,NaN,Ruth Rendell,Vintage Crime/Black Lizard,English,Martin Urban is a quiet bachelor with a comfor...,210,Paperback,"['Mystery', 'Fiction', 'Crime', 'Thriller', 'B...","January 1, 1980",3.76,1388.0,114.0,77.0,623.0,4.99,https://www.goodreads.com/book/show/83394.The_...,Mystery
2,9780345446671,Beyond the Blue Event Horizon,Heechee Saga,2,Frederik Pohl,Ballantine Books,English,"In Book Two of the Heechee Saga, Robinette Bro...",336,Paperback,"['Science Fiction', 'Fiction', 'Space Opera', ...","January 1, 1980",3.95,13307.0,339.0,181.0,3961.0,11.99,https://www.goodreads.com/book/show/373399.Bey...,Science Fiction
3,9780446403016,St. Peter's Fair,Chronicles of Brother Cadfael,4,Ellis Peters,Mysterious Press,English,A pause in the civil war offers Shrewsbury's t...,217,Mass Market Paperback,"['Mystery', 'Historical Fiction', 'Fiction', '...","May 1, 1981",4.12,10493.0,593.0,1298.0,2502.0,0.00,https://www.goodreads.com/book/show/751755.St_...,Mystery
4,9780425198773,Twice Shy,NaN,NaN,Dick Francis,G.P. Putnam's Sons,English,A computerized horse-betting system falls into...,304,Mass Market Paperback,"['Mystery', 'Fiction', 'Thriller', 'Crime', 'S...","January 1, 1981",3.92,4188.0,174.0,162.0,642.0,8.99,https://www.goodreads.com/book/show/103250.Twi...,Mystery

In [72]:
df_goodreads_top100.columns

Index(['isbn', 'title', 'series_title', 'series_release_number', 'authors',
       'publisher', 'language', 'description', 'num_pages', 'format', 'genres',
       'publication_date', 'rating_score', 'num_ratings', 'num_reviews',
       'current_readers', 'want_to_read', 'price', 'url', 'genre'],
      dtype='object')

In [73]:
df_goodreads_top100.duplicated().sum()

61

In [74]:
df_goodreads_top100.drop_duplicates (inplace = True)
df_goodreads_top100

,isbn,title,series_title,series_release_number,authors,publisher,language,description,num_pages,format,genres,publication_date,rating_score,num_ratings,num_reviews,current_readers,want_to_read,price,url,genre
0,9780689830594,Summer Story,Brambly Hedge,2,Jill Barklem,Atheneum,English,It was such a hot summer. The sky was deep blu...,32,Hardcover,"['Picture Books', 'Childrens', 'Fiction', 'Ani...","January 1, 1980",4.45,1017.0,74.0,7.0,512.0,3.49,https://www.goodreads.com/book/show/421572.Sum...,Picture Books
1,9780375704970,The Lake of Darkness,NaN,NaN,Ruth Rendell,Vintage Crime/Black Lizard,English,Martin Urban is a quiet bachelor with a comfor...,210,Paperback,"['Mystery', 'Fiction', 'Crime', 'Thriller', 'B...","January 1, 1980",3.76,1388.0,114.0,77.0,623.0,4.99,https://www.goodreads.com/book/show/83394.The_...,Mystery
2,9780345446671,Beyond the Blue Event Horizon,Heechee Saga,2,Frederik Pohl,Ballantine Books,English,"In Book Two of the Heechee Saga, Robinette Bro...",336,Paperback,"['Science Fiction', 'Fiction', 'Space Opera', ...","January 1, 1980",3.95,13307.0,339.0,181.0,3961.0,11.99,https://www.goodreads.com/book/show/373399.Bey...,Science Fiction
3,9780446403016,St. Peter's Fair,Chronicles of Brother Cadfael,4,Ellis Peters,Mysterious Press,English,A pause in the civil war offers Shrewsbury's t...,217,Mass Market Paperback,"['Mystery', 'Historical Fiction', 'Fiction', '...","May 1, 1981",4.12,10493.0,593.0,1298.0,2502.0,0.00,https://www.goodreads.com/book/show/751755.St_...,Mystery
4,9780425198773,Twice Shy,NaN,NaN,Dick Francis,G.P. Putnam's Sons,English,A computerized horse-betting system falls into...,304,Mass Market Paperback,"['Mystery', 'Fiction', 'Thriller', 'Crime', 'S...","January 1, 1981",3.92,4188.0,174.0,162.0,642.0,8.99,https://www.goodreads.com/book/show/103250.Twi...,Mystery
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4395,9781451648218,Murder Your Employer: The McMasters Guide to H...,NaN,NaN,Rupert Holmes,Avid Reader Press / Simon & Schuster,English,A devilish thriller with a killer concept: The...,389,Hardcover,"['Mystery', 'Fiction', 'Thriller', 'Mystery Th...","February 21, 2023",3.89,20992.0,3479.0,4033.0,84900.0,12.99,https://www.goodreads.com/book/show/61272658-m...,Mystery
4396,9781250826978,System Collapse,The Murderbot Diaries,7,Martha Wells,Tor Publishing Group/Tordotcom,English,Everyone's favorite lethal SecUnit is back.\nF...,245,Hardcover,"['Science Fiction', 'Fiction', 'Audiobook', 'A...","November 13, 2023",4.24,26566.0,3479.0,3609.0,36600.0,11.99,https://www.goodreads.com/book/show/65211701-s...,Science Fiction
4397,9781496737298,"Georgie, All Along",NaN,NaN,Kate Clayborn,Kensington,English,A wise and witty new novel that echoes with ti...,340,Paperback,"['Romance', 'Fiction', 'Contemporary', 'Contem...","January 24, 2023",3.82,48031.0,6590.0,3180.0,76300.0,0.00,https://www.goodreads.com/book/show/60604190-g...,Romance
4398,9780525619994,Sword Catcher,Sword Catcher,1,Cassandra Clare,Del Rey Books,English,"In the vibrant city-state of Castellane, the r...",624,Hardcover,"['Fantasy', 'Romance', 'Adult', 'Young Adult',...","October 10, 2023",3.84,14991.0,3523.0,4485.0,149000.0,14.99,https://www.goodreads.com/book/show/36679274-s...,Fantasy
4399,9780593239919,"Poverty, by America",NaN,NaN,Matthew Desmond,Crown,English,"The Pulitzer Prize‚Äìwinning, bestselling author...",284,Hardcover,"['Nonfiction', 'Politics', 'Sociology', 'Histo...","March 21, 2023",4.30,28248.0,4007.0,6021.0,133000.0,13.99,https://www.goodreads.com/book/show/61358638-p...,Nonfiction

In [75]:
df_goodreads_top100['isbn'].duplicated().sum()

721

In [76]:
df_goodreads_top100[df_goodreads_top100['title'].duplicated()]

,isbn,title,series_title,series_release_number,authors,publisher,language,description,num_pages,format,genres,publication_date,rating_score,num_ratings,num_reviews,current_readers,want_to_read,price,url,genre
171,9780425198773,Twice Shy,NaN,NaN,Dick Francis,G.P. Putnam's Sons,English,A computerized horse-betting system falls into...,304,Mass Market Paperback,"['Mystery', 'Fiction', 'Thriller', 'Crime', 'S...","January 1, 1981",3.92,4194.0,175.0,162.0,644.0,8.99,https://www.goodreads.com/book/show/103250.Twi...,Mystery
172,9780698119604,The Door in the Hedge,NaN,NaN,Robin McKinley,Firebird,English,Master storyteller Robin McKinley here spins t...,216,Paperback,"['Fantasy', 'Young Adult', 'Short Stories', 'F...","January 1, 1981",3.70,9665.0,592.0,395.0,NaN,1.99,https://www.goodreads.com/book/show/8091.The_D...,Fantasy
213,9780689861130,"Moo, Baa, La La La!",NaN,NaN,Sandra Boynton,Simon & Schuster Childrens Books,English,Serious silliness for all ages!\nArtist Sandra...,14,Hardcover,"['Picture Books', 'Childrens', 'Animals', 'Fic...","January 1, 1982",4.21,35666.0,768.0,125.0,NaN,NaN,https://www.goodreads.com/book/show/4600.Moo_B...,Picture Books
214,9780345468642,Pawn of Prophecy,The Belgariad,1,David Eddings,Del Rey,English,"BOOK 1 OF THE BELGARIAD, the worldwide bestsel...",304,Paperback,"['Fantasy', 'Fiction', 'Epic Fantasy', 'High F...","March 12, 1982",4.16,105392.0,3777.0,NaN,52300.0,5.99,https://www.goodreads.com/book/show/44659.Pawn...,Fantasy
248,9780553276329,Pacific Vortex!,Dirk Pitt,1,Clive Cussler,Bantam,English,"Dirk Pitt, death-defying adventurer and deep-s...",288,Mass Market Paperback,"['Adventure', 'Fiction', 'Thriller', 'Action',...","January 1, 1983",3.80,23370.0,900.0,346.0,11900.0,9.59,https://www.goodreads.com/book/show/361081.Pac...,Adventure
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4331,9781728268231,Clytemnestra,NaN,NaN,Costanza Casati,Sourcebooks Landmark,English,"For fans of Madeline Miller's \n, a stunning d...",448,Hardcover,"['Mythology', 'Fantasy', 'Historical Fiction',...","May 2, 2023",4.26,18013.0,3058.0,NaN,151000.0,8.57,https://www.goodreads.com/book/show/61361681-c...,Mythology
4332,9781957568461,A Soul of Ash and Blood,Blood and Ash,5,Jennifer L. Armentrout,Blue Box Press,English,Only his memories can save her‚Ä¶\nA great prima...,703,Kindle Edition,"['Fantasy', 'Romance', 'Fantasy Romance', 'Vam...","July 18, 2023",3.96,61946.0,6918.0,NaN,122000.0,7.99,https://www.goodreads.com/book/show/63847274-a...,Fantasy
4337,NaN,Reckless,Chestnut Springs,4,Elsie Silver,Amazon Digital Services,English,Theo Silva. Rowdy bull rider. Notorious ladies...,466,Kindle Edition,"['Romance', 'Contemporary Romance', 'Sports Ro...","June 9, 2023",4.40,107094.0,12137.0,7879.0,101000.0,0.00,https://www.goodreads.com/book/show/108518990-...,Romance
4348,9780241512449,The Last Devil to Die,Thursday Murder Club,4,Richard Osman,Viking,English,Shocking news reaches the Thursday Murder Club...,422,Hardcover,"['Mystery', 'Fiction', 'Crime', 'Audiobook', '...","September 14, 2023",4.52,92801.0,9201.0,NaN,98500.0,14.99,https://www.goodreads.com/book/show/62226126-t...,Mystery
4350,NaN,The Love Wager,Mr. Wrong Number,2,Lynn Painter,Berkley,English,Hallie Piper is turning over a new leaf. After...,315,Kindle Edition,"['Romance', 'Contemporary', 'Contemporary Roma...","March 14, 2023",3.90,55203.0,7968.0,NaN,101000.0,9.99,https://www.goodreads.com/book/show/60487511-t...,Romance

In [77]:
df_goodreads_top100['isbn'].isna().sum()

588

In [78]:
(df_goodreads_top100.isnull().sum() / df_goodreads_top100.shape[0]) * 100

isbn                     13.551510
title                     0.000000
series_title             48.444342
series_release_number    48.720903
authors                   0.000000
publisher                 2.673427
language                  0.576170
description               0.046094
num_pages                 0.483982
format                    0.806637
genres                    0.000000
publication_date          0.023047
rating_score              0.000000
num_ratings               0.000000
num_reviews               0.000000
current_readers           2.396866
want_to_read              0.875778
price                     5.277714
url                       0.000000
genre                     0.000000
dtype: float64

In [79]:
df_goodreads_top100[df_goodreads_top100 ['title'] == 'Twice Shy']

,isbn,title,series_title,series_release_number,authors,publisher,language,description,num_pages,format,genres,publication_date,rating_score,num_ratings,num_reviews,current_readers,want_to_read,price,url,genre
4,9780425198773,Twice Shy,NaN,NaN,Dick Francis,G.P. Putnam's Sons,English,A computerized horse-betting system falls into...,304,Mass Market Paperback,"['Mystery', 'Fiction', 'Thriller', 'Crime', 'S...","January 1, 1981",3.92,4188.0,174.0,162.0,642.0,8.99,https://www.goodreads.com/book/show/103250.Twi...,Mystery
171,9780425198773,Twice Shy,NaN,NaN,Dick Francis,G.P. Putnam's Sons,English,A computerized horse-betting system falls into...,304,Mass Market Paperback,"['Mystery', 'Fiction', 'Thriller', 'Crime', 'S...","January 1, 1981",3.92,4194.0,175.0,162.0,644.0,8.99,https://www.goodreads.com/book/show/103250.Twi...,Mystery
4198,9780593085530,Twice Shy,NaN,NaN,Sarah Hogle,G.P. Putnam's Sons,English,Can you find real love when you've always got ...,302,Paperback,"['Romance', 'Contemporary', 'Contemporary Roma...","April 6, 2021",3.68,33132.0,6056.0,856.0,62500.0,11.99,https://www.goodreads.com/book/show/54660653-t...,Romance

In [80]:
df_goodreads_top100['series_title'].value_counts()

In Death                         17
Chronicles of Brother Cadfael    15
Black Dagger Brotherhood         15
Vorkosigan Saga                  14
Redwall                          14
                                 ..
Little Brother                    1
Love Walked In                    1
Olive Kitteridge                  1
Wyoming                           1
Sword Catcher                     1
Name: series_title, Length: 1098, dtype: int64

In [81]:
df_goodreads_top100['series_release_number'].value_counts()

1         788
2         429
3         293
4         153
5         100
         ...
1-4         1
26,5        1
29,6        1
8,11        1
1,10.5      1
Name: series_release_number, Length: 101, dtype: int64

In [82]:
df_goodreads_top100['language'].value_counts()

English               4277
French                  14
Spanish; Castilian      10
German                   7
Japanese                 2
Dutch; Flemish           2
Danish                   1
Portuguese               1
Name: language, dtype: int64

In [83]:
df_goodreads_top100['authors'].duplicated().sum()

2433

In [84]:
df_goodreads_top100['publisher'].isna().sum()

116

In [85]:
df_goodreads_top100['language'].isna().sum()

25

In [86]:
df_goodreads_top100['language'] = df_goodreads_top100['language'].fillna("unknown")

In [87]:
df_goodreads_top100['description'].isna().sum()

2

In [88]:
df_goodreads_top100['description'] = df_goodreads_top100['description'].fillna("unknown")

In [89]:
df_goodreads_top100['num_pages'].isna().sum()

21

In [90]:
df_goodreads_top100['num_pages'] = df_goodreads_top100['num_pages'].fillna("unknown")

In [91]:
df_goodreads_top100['format'].value_counts()

Paperback                1740
Hardcover                1387
Mass Market Paperback     706
Kindle Edition            276
ebook                     131
Nook                       14
Audio CD                   11
Library Binding             8
Board Book                  7
Audio Cassette              5
Board book                  5
Trade Paperback             5
Unknown Binding             2
Audiobook                   2
hardcover                   1
paper                       1
Slipcased Hardcover         1
Print                       1
Broschiert                  1
Name: format, dtype: int64

In [92]:
df_goodreads_top100['format'].isna().sum()

35

In [93]:
df_goodreads_top100['format'] = df_goodreads_top100['format'].fillna("unknown")

In [94]:
df_goodreads_top100['genres'].value_counts()

['Fantasy', 'Fiction', 'Young Adult', 'Childrens', 'Animals', 'Adventure', 'Middle Grade']        12
['Fiction', 'Young Adult', 'Childrens', 'Middle Grade', 'Fantasy', 'Mystery', 'Adventure']        11
['Mystery', 'Crime', 'Fiction', 'Thriller', 'Mystery Thriller', 'Suspense', 'Murder Mystery']     10
[]                                                                                                10
['Mystery', 'Fiction', 'Crime', 'Thriller', 'Detective', 'Mystery Thriller', 'Suspense']          10
                                                                                                  ..
['Picture Books', 'Childrens', 'Fiction', 'Animals', 'Humor', 'Dogs', 'School']                    1
['Fiction', 'Contemporary', 'Romance', 'Chick Lit', 'Drama', 'Adult Fiction', 'Adult']             1
['Nonfiction', 'Law', 'History', 'True Crime', 'Environment', 'Crime', 'Science']                  1
['Mystery', 'Fiction', 'Cats', 'Cozy Mystery', 'Animals', 'Crime', 'Audiobook']                    1
['Nonfiction', 'Politics', 'Sociology', 'History', 'Economics', 'Audiobook', 'Social Justice']     1
Name: genres, Length: 3625, dtype: int64

In [95]:
df_goodreads_top100[df_goodreads_top100['publication_date'].isna()]

,isbn,title,series_title,series_release_number,authors,publisher,language,description,num_pages,format,genres,publication_date,rating_score,num_ratings,num_reviews,current_readers,want_to_read,price,url,genre
4087,9781838056124,The Present,VanWest,2,Kenneth Thomas,NaN,English,Old Version,200,Paperback,"['Science Fiction', 'Fiction', 'Dystopia', 'Yo...",NaN,3.62,2395.0,80.0,18.0,1995.0,NaN,https://www.goodreads.com/book/show/54775299-t...,Science Fiction

In [96]:
df_goodreads_top100['publication_date'].value_counts()

January 1, 1984       58
January 1, 1986       57
January 1, 1990       55
January 1, 1983       55
January 1, 1982       52
                      ..
August 15, 2006        1
September 25, 2006     1
July 18, 2006          1
June 27, 2006          1
March 21, 2023         1
Name: publication_date, Length: 1983, dtype: int64

In [97]:
df_goodreads_top100['publication_date'] = df_goodreads_top100['publication_date'].str.replace('Published ', '')

In [98]:
df_goodreads_top100['publication_date'] = pd.to_datetime(df_goodreads_top100['publication_date'])

# Crear nuevas columnas para el mes y el a√±o
df_goodreads_top100['publication_month'] = df_goodreads_top100['publication_date'].dt.month
df_goodreads_top100['publication_year'] = df_goodreads_top100['publication_date'].dt.year

In [99]:
df_goodreads_top100.head()

,isbn,title,series_title,series_release_number,authors,publisher,language,description,num_pages,format,genres,publication_date,rating_score,num_ratings,num_reviews,current_readers,want_to_read,price,url,genre,publication_month,publication_year
0,9780689830594,Summer Story,Brambly Hedge,2,Jill Barklem,Atheneum,English,It was such a hot summer. The sky was deep blu...,32,Hardcover,"['Picture Books', 'Childrens', 'Fiction', 'Ani...",1980-01-01,4.45,1017.0,74.0,7.0,512.0,3.49,https://www.goodreads.com/book/show/421572.Sum...,Picture Books,1.0,1980.0
1,9780375704970,The Lake of Darkness,NaN,NaN,Ruth Rendell,Vintage Crime/Black Lizard,English,Martin Urban is a quiet bachelor with a comfor...,210,Paperback,"['Mystery', 'Fiction', 'Crime', 'Thriller', 'B...",1980-01-01,3.76,1388.0,114.0,77.0,623.0,4.99,https://www.goodreads.com/book/show/83394.The_...,Mystery,1.0,1980.0
2,9780345446671,Beyond the Blue Event Horizon,Heechee Saga,2,Frederik Pohl,Ballantine Books,English,"In Book Two of the Heechee Saga, Robinette Bro...",336,Paperback,"['Science Fiction', 'Fiction', 'Space Opera', ...",1980-01-01,3.95,13307.0,339.0,181.0,3961.0,11.99,https://www.goodreads.com/book/show/373399.Bey...,Science Fiction,1.0,1980.0
3,9780446403016,St. Peter's Fair,Chronicles of Brother Cadfael,4,Ellis Peters,Mysterious Press,English,A pause in the civil war offers Shrewsbury's t...,217,Mass Market Paperback,"['Mystery', 'Historical Fiction', 'Fiction', '...",1981-05-01,4.12,10493.0,593.0,1298.0,2502.0,0.00,https://www.goodreads.com/book/show/751755.St_...,Mystery,5.0,1981.0
4,9780425198773,Twice Shy,NaN,NaN,Dick Francis,G.P. Putnam's Sons,English,A computerized horse-betting system falls into...,304,Mass Market Paperback,"['Mystery', 'Fiction', 'Thriller', 'Crime', 'S...",1981-01-01,3.92,4188.0,174.0,162.0,642.0,8.99,https://www.goodreads.com/book/show/103250.Twi...,Mystery,1.0,1981.0

In [100]:
df_goodreads_top100['publication_month'].isna().sum()

1

In [101]:
df_goodreads_top100['publication_year'].isna().sum()

1

In [102]:
df_goodreads_top100['publication_year'] = df_goodreads_top100['publication_year'].fillna(2020.0)

In [103]:
df_goodreads_top100['publication_month'] = df_goodreads_top100['publication_month'].fillna(7.0)

In [104]:
df_goodreads_top100.head()

,isbn,title,series_title,series_release_number,authors,publisher,language,description,num_pages,format,genres,publication_date,rating_score,num_ratings,num_reviews,current_readers,want_to_read,price,url,genre,publication_month,publication_year
0,9780689830594,Summer Story,Brambly Hedge,2,Jill Barklem,Atheneum,English,It was such a hot summer. The sky was deep blu...,32,Hardcover,"['Picture Books', 'Childrens', 'Fiction', 'Ani...",1980-01-01,4.45,1017.0,74.0,7.0,512.0,3.49,https://www.goodreads.com/book/show/421572.Sum...,Picture Books,1.0,1980.0
1,9780375704970,The Lake of Darkness,NaN,NaN,Ruth Rendell,Vintage Crime/Black Lizard,English,Martin Urban is a quiet bachelor with a comfor...,210,Paperback,"['Mystery', 'Fiction', 'Crime', 'Thriller', 'B...",1980-01-01,3.76,1388.0,114.0,77.0,623.0,4.99,https://www.goodreads.com/book/show/83394.The_...,Mystery,1.0,1980.0
2,9780345446671,Beyond the Blue Event Horizon,Heechee Saga,2,Frederik Pohl,Ballantine Books,English,"In Book Two of the Heechee Saga, Robinette Bro...",336,Paperback,"['Science Fiction', 'Fiction', 'Space Opera', ...",1980-01-01,3.95,13307.0,339.0,181.0,3961.0,11.99,https://www.goodreads.com/book/show/373399.Bey...,Science Fiction,1.0,1980.0
3,9780446403016,St. Peter's Fair,Chronicles of Brother Cadfael,4,Ellis Peters,Mysterious Press,English,A pause in the civil war offers Shrewsbury's t...,217,Mass Market Paperback,"['Mystery', 'Historical Fiction', 'Fiction', '...",1981-05-01,4.12,10493.0,593.0,1298.0,2502.0,0.00,https://www.goodreads.com/book/show/751755.St_...,Mystery,5.0,1981.0
4,9780425198773,Twice Shy,NaN,NaN,Dick Francis,G.P. Putnam's Sons,English,A computerized horse-betting system falls into...,304,Mass Market Paperback,"['Mystery', 'Fiction', 'Thriller', 'Crime', 'S...",1981-01-01,3.92,4188.0,174.0,162.0,642.0,8.99,https://www.goodreads.com/book/show/103250.Twi...,Mystery,1.0,1981.0

In [105]:
df_goodreads_top100.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4339 entries, 0 to 4399
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   isbn                   3751 non-null   object
 1   title                  4339 non-null   object
 2   series_title           2237 non-null   object
 3   series_release_number  2225 non-null   object
 4   authors                4339 non-null   object
 5   publisher              4223 non-null   object
 6   language               4339 non-null   object
 7   description            4339 non-null   object
 8   num_pages              4339 non-null   object
 9   format                 4339 non-null   object
 10  genres                 4339 non-null   object
 11  publication_date       4338 non-null   datetime64[ns]
 12  rating_score           4339 non-null   float64
 13  num_ratings            4339 non-null   float64
 14  num_reviews            4339 non-null   float64
 15  current_readers        4235 non-null   float64
 16  want_to_read           4301 non-null   float64
 17  price                  4110 non-null   float64
 18  url                    4339 non-null   object
 19  genre                  4339 non-null   object
 20  publication_month      4339 non-null   float64
 21  publication_year       4339 non-null   float64
dtypes: datetime64[ns](1), float64(8), object(13)
memory usage: 779.7+ KB

In [106]:
df_goodreads_top100.drop('publication_date', axis = 1, inplace = True)

In [107]:
df_goodreads_top100.to_csv ('output_files/goodreads_top100_1980_2023.csv')

### exploraci√≥n y limpieza del csv 'kindle_data'

In [108]:
df_kindle = pd.read_csv ('input_files/kindle_data-v2.csv')
df_kindle

,asin,title,author,soldBy,imgUrl,productURL,stars,reviews,price,isKindleUnlimited,category_id,isBestSeller,isEditorsPick,isGoodReadsChoice,publishedDate,category_name
0,B00TZE87S4,Adult Children of Emotionally Immature Parents...,Lindsay C. Gibson,Amazon.com Services LLC,https://m.media-amazon.com/images/I/713KZTsaYp...,https://www.amazon.com/dp/B00TZE87S4,4.8,0,9.99,False,6,True,False,False,2015-06-01,Parenting & Relationships
1,B08WCKY8MB,"From Strength to Strength: Finding Success, Ha...",Arthur C. Brooks,Penguin Group (USA) LLC,https://m.media-amazon.com/images/I/A1LZcJFs9E...,https://www.amazon.com/dp/B08WCKY8MB,4.4,0,16.99,False,6,False,False,False,2022-02-15,Parenting & Relationships
2,B09KPS84CJ,Good Inside: A Guide to Becoming the Parent Yo...,Becky Kennedy,HarperCollins Publishers,https://m.media-amazon.com/images/I/71RIWM0sv6...,https://www.amazon.com/dp/B09KPS84CJ,4.8,0,16.99,False,6,False,True,False,2022-09-13,Parenting & Relationships
3,B07S7QPG6J,Everything I Know About Love: A Memoir,Dolly Alderton,HarperCollins Publishers,https://m.media-amazon.com/images/I/71QdQpTiKZ...,https://www.amazon.com/dp/B07S7QPG6J,4.2,0,9.95,True,6,False,True,False,2020-02-25,Parenting & Relationships
4,B00N6PEQV0,The Seven Principles for Making Marriage Work:...,John Gottman,Random House LLC,https://m.media-amazon.com/images/I/813o4WOs+w...,https://www.amazon.com/dp/B00N6PEQV0,4.7,0,13.99,False,6,False,False,False,2015-05-05,Parenting & Relationships
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133097,B0C3SJDLK8,Anna Karenina,Leo Tolstoy,De Marque,https://m.media-amazon.com/images/I/61RXEyMctk...,https://www.amazon.com/dp/B0C3SJDLK8,4.7,0,0.00,False,29,True,False,False,2023-09-15,Nonfiction
133098,B09DW752Y1,Scary Smart: Scary Smart: The Future of Artifi...,Mo Gawdat,Amazon.com Services LLC,https://m.media-amazon.com/images/I/71tjf6R-Wa...,https://www.amazon.com/dp/B09DW752Y1,4.4,0,9.99,False,29,False,False,False,2021-09-30,Nonfiction
133099,B0CFWHPJTN,The Count of Monte Cristo: The Original Unabri...,Alexandre Dumas,De Marque,https://m.media-amazon.com/images/I/71zcCb5Pvu...,https://www.amazon.com/dp/B0CFWHPJTN,4.8,0,1.99,False,29,True,False,False,2023-09-15,Nonfiction
133100,B0C1KMFXJC,War And Peace,Leo Tolstoy,De Marque,https://m.media-amazon.com/images/I/715QpZlzmi...,https://www.amazon.com/dp/B0C1KMFXJC,4.7,0,0.00,False,29,True,False,False,2023-08-25,Nonfiction
133101,B0BS1KYZB6,Pride and Prejudice,Jane Austen,De Marque,https://m.media-amazon.com/images/I/81Scutrtj4...,https://www.amazon.com/dp/B0BS1KYZB6,4.7,0,0.00,False,29,False,False,False,2023-10-01,Nonfiction

In [109]:
df_kindle.columns

Index(['asin', 'title', 'author', 'soldBy', 'imgUrl', 'productURL', 'stars',
       'reviews', 'price', 'isKindleUnlimited', 'category_id', 'isBestSeller',
       'isEditorsPick', 'isGoodReadsChoice', 'publishedDate', 'category_name'],
      dtype='object')

In [110]:
df_kindle.duplicated().sum()

0

In [111]:
(df_kindle.isna().sum()/ df_kindle.shape[0]) * 100

asin                  0.000000
title                 0.000000
author                0.319304
soldBy                6.936785
imgUrl                0.000000
productURL            0.000000
stars                 0.000000
reviews               0.000000
price                 0.000000
isKindleUnlimited     0.000000
category_id           0.000000
isBestSeller          0.000000
isEditorsPick         0.000000
isGoodReadsChoice     0.000000
publishedDate        36.825893
category_name         0.000000
dtype: float64

In [112]:
df_kindle['author'] = df_kindle['author'].fillna('unknown')

In [113]:
df_kindle['soldBy'] = df_kindle['soldBy'].fillna('unknown')

In [114]:
df_kindle[['published_year', 'published_month']] = df_kindle['publishedDate'].str.split('-', expand=True)[[0, 1]]
df_kindle.head()

,asin,title,author,soldBy,imgUrl,productURL,stars,reviews,price,isKindleUnlimited,category_id,isBestSeller,isEditorsPick,isGoodReadsChoice,publishedDate,category_name,published_year,published_month
0,B00TZE87S4,Adult Children of Emotionally Immature Parents...,Lindsay C. Gibson,Amazon.com Services LLC,https://m.media-amazon.com/images/I/713KZTsaYp...,https://www.amazon.com/dp/B00TZE87S4,4.8,0,9.99,False,6,True,False,False,2015-06-01,Parenting & Relationships,2015,06
1,B08WCKY8MB,"From Strength to Strength: Finding Success, Ha...",Arthur C. Brooks,Penguin Group (USA) LLC,https://m.media-amazon.com/images/I/A1LZcJFs9E...,https://www.amazon.com/dp/B08WCKY8MB,4.4,0,16.99,False,6,False,False,False,2022-02-15,Parenting & Relationships,2022,02
2,B09KPS84CJ,Good Inside: A Guide to Becoming the Parent Yo...,Becky Kennedy,HarperCollins Publishers,https://m.media-amazon.com/images/I/71RIWM0sv6...,https://www.amazon.com/dp/B09KPS84CJ,4.8,0,16.99,False,6,False,True,False,2022-09-13,Parenting & Relationships,2022,09
3,B07S7QPG6J,Everything I Know About Love: A Memoir,Dolly Alderton,HarperCollins Publishers,https://m.media-amazon.com/images/I/71QdQpTiKZ...,https://www.amazon.com/dp/B07S7QPG6J,4.2,0,9.95,True,6,False,True,False,2020-02-25,Parenting & Relationships,2020,02
4,B00N6PEQV0,The Seven Principles for Making Marriage Work:...,John Gottman,Random House LLC,https://m.media-amazon.com/images/I/813o4WOs+w...,https://www.amazon.com/dp/B00N6PEQV0,4.7,0,13.99,False,6,False,False,False,2015-05-05,Parenting & Relationships,2015,05

In [115]:
df_kindle.drop('publishedDate', axis = 1, inplace = True)

In [116]:
df_kindle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133102 entries, 0 to 133101
Data columns (total 17 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   asin               133102 non-null  object
 1   title              133102 non-null  object
 2   author             133102 non-null  object
 3   soldBy             133102 non-null  object
 4   imgUrl             133102 non-null  object
 5   productURL         133102 non-null  object
 6   stars              133102 non-null  float64
 7   reviews            133102 non-null  int64
 8   price              133102 non-null  float64
 9   isKindleUnlimited  133102 non-null  bool
 10  category_id        133102 non-null  int64
 11  isBestSeller       133102 non-null  bool
 12  isEditorsPick      133102 non-null  bool
 13  isGoodReadsChoice  133102 non-null  bool
 14  category_name      133102 non-null  object
 15  published_year     84086 non-null   object
 16  published_month    84086 non-null   object
dtypes: bool(4), float64(2), int64(2), object(9)
memory usage: 13.7+ MB

In [117]:
improved_columns = {
    'asin': 'asin',
    'title': 'title',
    'author': 'author',
    'soldBy': 'sold_by',
    'imgUrl': 'img_url',
    'productURL': 'product_url',
    'stars': 'stars',
    'reviews': 'reviews',
    'price': 'price',
    'isKindleUnlimited': 'is_kindle_unlimited',
    'category_id': 'category_id',
    'isBestSeller': 'is_best_seller',
    'isEditorsPick': 'is_editors_pick',
    'isGoodReadsChoice': 'is_good_reads_choice',
    'publishedDate': 'published_date',
    'category_name': 'category_name'
}

In [118]:
df_kindle = df_kindle.rename(columns=improved_columns)

In [119]:
df_kindle.columns

Index(['asin', 'title', 'author', 'sold_by', 'img_url', 'product_url', 'stars',
       'reviews', 'price', 'is_kindle_unlimited', 'category_id',
       'is_best_seller', 'is_editors_pick', 'is_good_reads_choice',
       'category_name', 'published_year', 'published_month'],
      dtype='object')

In [120]:
df_kindle.to_csv('output_files/kindle.csv')

### exploraci√≥n y limpieza del csv 'Books_Data_Clean'

In [121]:
df_books_data = pd.read_csv('input_files/Books_Data_Clean.csv', index_col=0)
df_books_data.head()

,Publishing Year,Book Name,Author,language_code,Author_Rating,Book_average_rating,Book_ratings_count,genre,gross sales,publisher revenue,sale price,sales rank,Publisher,units sold
index,,,,,,,,,,,,,,
0,1975.0,Beowulf,"Unknown, Seamus Heaney",en-US,Novice,3.42,155903,genre fiction,34160.0,20496.0,4.88,1,HarperCollins Publishers,7000
1,1987.0,Batman: Year One,"Frank Miller, David Mazzucchelli, Richmond Lew...",eng,Intermediate,4.23,145267,genre fiction,12437.5,7462.5,1.99,2,HarperCollins Publishers,6250
2,2015.0,Go Set a Watchman,Harper Lee,eng,Novice,3.31,138669,genre fiction,47795.0,28677.0,8.69,3,"Amazon Digital Services, Inc.",5500
3,2008.0,When You Are Engulfed in Flames,David Sedaris,en-US,Intermediate,4.04,150898,fiction,41250.0,24750.0,7.50,3,Hachette Book Group,5500
4,2011.0,Daughter of Smoke & Bone,Laini Taylor,eng,Intermediate,4.04,198283,genre fiction,37952.5,22771.5,7.99,4,Penguin Group (USA) LLC,4750

In [122]:
df_books_data.columns

Index(['Publishing Year', 'Book Name', 'Author', 'language_code',
       'Author_Rating', 'Book_average_rating', 'Book_ratings_count', 'genre',
       'gross sales', 'publisher revenue', 'sale price', 'sales rank',
       'Publisher ', 'units sold'],
      dtype='object')

In [123]:
df_books_data.shape

(1070, 14)

In [124]:
df_books_data.duplicated().sum()

0

In [125]:
(df_books_data.isna().sum()/ df_books_data.shape[0]) * 100

Publishing Year        0.093458
Book Name              2.149533
Author                 0.000000
language_code          4.953271
Author_Rating          0.000000
Book_average_rating    0.000000
Book_ratings_count     0.000000
genre                  0.000000
gross sales            0.000000
publisher revenue      0.000000
sale price             0.000000
sales rank             0.000000
Publisher              0.000000
units sold             0.000000
dtype: float64

In [126]:
df_books_data['language_code'].unique()

array(['en-US', 'eng', nan, 'spa', 'en-GB', 'fre', 'en-CA', 'nl', 'ara'],
      dtype=object)

In [127]:
language_map= {
    'en-US': 'English',
    'eng': 'English',
    'spa': 'Spanish',
    'en-GB': 'English',
    'fre': 'French',
    'en-CA': 'English',
    'nl': 'Dutch',
    'ara': 'Arabic'
}

# Mapeamos los c√≥digos de idioma en el DataFrame utilizando el diccionario
df_books_data['language_code'] = df_books_data['language_code'].map(language_map)

In [130]:
df_books_data.columns = df_books_data.columns.str.lower().str.replace(' ', '_')

In [131]:
df_books_data.head()

,publishing_year,book_name,author,language_code,author_rating,book_average_rating,book_ratings_count,genre,gross_sales,publisher_revenue,sale_price,sales_rank,publisher_,units_sold
index,,,,,,,,,,,,,,
0,1975.0,Beowulf,"Unknown, Seamus Heaney",English,Novice,3.42,155903,genre fiction,34160.0,20496.0,4.88,1,HarperCollins Publishers,7000
1,1987.0,Batman: Year One,"Frank Miller, David Mazzucchelli, Richmond Lew...",English,Intermediate,4.23,145267,genre fiction,12437.5,7462.5,1.99,2,HarperCollins Publishers,6250
2,2015.0,Go Set a Watchman,Harper Lee,English,Novice,3.31,138669,genre fiction,47795.0,28677.0,8.69,3,"Amazon Digital Services, Inc.",5500
3,2008.0,When You Are Engulfed in Flames,David Sedaris,English,Intermediate,4.04,150898,fiction,41250.0,24750.0,7.50,3,Hachette Book Group,5500
4,2011.0,Daughter of Smoke & Bone,Laini Taylor,English,Intermediate,4.04,198283,genre fiction,37952.5,22771.5,7.99,4,Penguin Group (USA) LLC,4750

In [132]:
df_books_data.to_csv('output_files/books_data.csv')

### exploraci√≥n y limpieza del csv 'Books'

In [156]:
df_books = pd.read_csv ('input_files/Books.csv')
df_books.head()

,Book,Author(s),Original language,First published,Approximate sales,Genre
0,A Tale of Two Cities,Charles Dickens,English,1859,>200 million[20][circular reporting?],Historical fiction
1,The Little Prince (Le Petit Prince),Antoine de Saint-Exup√©ry,French,1943,200 million[21][22],"Fantasy, Children's fiction"
2,Harry Potter and the Philosopher's Stone,J. K. Rowling,English,1997,120 million[23][24],"Fantasy, Children's fiction"
3,And Then There Were None,Agatha Christie,English,1939,100 million[25],Mystery
4,Dream of the Red Chamber (???),Cao Xueqin,Chinese,1791,100 million[26][27],Family saga

In [157]:
df_books.columns

Index(['Book', 'Author(s)', 'Original language', 'First published',
       'Approximate sales', 'Genre'],
      dtype='object')

In [158]:
df_books.columns = df_books.columns.str.lower().str.replace(' ', '_')
df_books

,book,author(s),original_language,first_published,approximate_sales,genre
0,A Tale of Two Cities,Charles Dickens,English,1859,>200 million[20][circular reporting?],Historical fiction
1,The Little Prince (Le Petit Prince),Antoine de Saint-Exup√©ry,French,1943,200 million[21][22],"Fantasy, Children's fiction"
2,Harry Potter and the Philosopher's Stone,J. K. Rowling,English,1997,120 million[23][24],"Fantasy, Children's fiction"
3,And Then There Were None,Agatha Christie,English,1939,100 million[25],Mystery
4,Dream of the Red Chamber (???),Cao Xueqin,Chinese,1791,100 million[26][27],Family saga
...,...,...,...,...,...,...
259,Bridget Jones's Diary,Helen Fielding,English,1996,10 million (as of 2005)[186],Erotica
260,World Almanac (published every year),Various authors,English,1868¬ñ76; 1886¬ñpresent,82 million[325][326],Erotica
261,Betty Crocker Cookbook,General Mills staff,English,1950¬ñ2016 (12th edition),75 million[327],Erotica
262,Tung Shing (Chinese: ??),"Choi Park Lai's family, among others",Chinese,1891(Only counting versions published by Choi'...,>70 million (Only counting version published b...,Erotica
263,Merriam-Webster's Collegiate Dictionary,Merriam-Webster,English,1898,55 million[329],Erotica

In [161]:
df_books[df_books.duplicated()]

,book,author(s),original_language,first_published,approximate_sales,genre
124,Where the Crawdads Sing,Delia Owens,English,2018,18 million[120],Coming-of-age Murder mystery
125,Matilda,Roald Dahl,English,1988,17 million[121],Children's Literature
126,The Book Thief,Markus Zusak,English,2005,16 million[122],Young Adult Fiction
127,The Horse Whisperer,Nicholas Evans,English,1995,16 million[123],Young Adult Fiction
128,Goodnight Moon,Margaret Wise Brown,English,1947,16 million[124],Children's Literature
...,...,...,...,...,...,...
255,The Goal,Eliyahu M. Goldratt,English,1984,10 million[182],Erotica
256,Fahrenheit 451,Ray Bradbury,English,1953,10 million[183],Erotica
257,Angela's Ashes,Frank McCourt,English,1996,10 million[184],Erotica
258,The Story of My Experiments with Truth (??????...,Mohandas Karamchand Gandhi,Gujarati,1925¬ñ1929,10 million[185],Erotica
259,Bridget Jones's Diary,Helen Fielding,English,1996,10 million (as of 2005)[186],Erotica

In [164]:
df_books[df_books ['book'] == 'The Goal']

,book,author(s),original_language,first_published,approximate_sales,genre
187,The Goal,Eliyahu M. Goldratt,English,1984,10 million[182],Erotica
255,The Goal,Eliyahu M. Goldratt,English,1984,10 million[182],Erotica

In [165]:
df_books = df_books.drop_duplicates()

In [166]:
df_books.shape

(170, 6)

In [168]:
df_books['approximate_sales'].unique()

array(['>200 million[20][circular reporting?]', '200 million[21][22]',
       '120 million[23][24]', '100 million[25]', '100 million[26][27]',
       '100 million[28][29][30]', '83 million[31]',
       '>80 million[32][better\xa0source\xa0needed]', '80 million[33]',
       '77 million[34]', '65 million[35]',
       '65 million[36][37][obsolete\xa0source]', '65 million[38]',
       '60 million[39]', '50 million[40][41][42]', '50 million[43]',
       '50 million[44]', '50 million[45]', '50 million[46]',
       '50 million[47]', '50 million[48]', '50 million[49]',
       '50 million[50]', '50 million[51]', '50 million[52]',
       '50 million[53]', '18 million[120]', '17 million[121]',
       '16 million[122]', '16 million[123]', '16 million[124]',
       '16 million[125]', '15.3 million[126]',
       '15.2 million in the U.S.[127]', '15 million[128]',
       '15 million[129]', '15 million[130]', '15 million[131]',
       '15 million[132]', '15 million[133]', '15 million[134]',
       '15 million[135]', '15 million[136]', '14 million[137]',
       '14 million[138]', '14 million[139]', '14 million[140]',
       '14 million[141]', '14 million[142]', '14 million[143]',
       '13 million[63]', '13 million[144]', '45 million[54]',
       '44 million[55]', '43 million[56]', '40 million[45]',
       '40 million[57]', '40 million[58]', '40 million[59]',
       '40 million[60]', '39 million[61]', '37 million[62]',
       '36.4 million copies in USSR[63]',
       '36 million copies in Russia[63]',
       '35 million[64][65][better\xa0source\xa0needed]', '35 million[66]',
       '35 million[67][68]', '33 million[69]', '31.5 million[70]',
       '31 million[71]', 'Over 30 million[72][73]',
       '30 million ("around")[74]', '30 million (est.)[75]',
       '30 million (est.)[76]', '30 million[77]', '30 million[78]',
       '30 million[79]', '29 million in US[80]', '28 million[81]',
       '26 million copies in USSR[63]', '28[82] \x96 30[83] million',
       '25 million[84]', '25 million[85]', '25 million[86]',
       '25 million[87]', '25 million[88]', '25 million [89]',
       '24 million copies in USSR[63]', '23 million[90]',
       '23 million[91]', '23 million[92]', '22.5 million[93]',
       '21 million copies in USSR[63]', '21 million[94]',
       '21 million[95]', '21 million in US[80]', '20 million in US[80]',
       '20 million[96]', '20 million[97]', '20 million[98]',
       '20 million[99]', '20 million[100]', '20 million[101]',
       '20 million[102]', '20 million[103]', '20 million[104]',
       '20 million[105]', '20 million[106]', '20 million[107]',
       '20 million[108]', '20 million[109][110]', '20 million[111]',
       '20 million (printed)[112]', '20 million[113]', '20 million[114]',
       '20 million[115]', '20 million[116]', '20 million[117]',
       '20 million[118]', '20 million[119]', '13 million[145]',
       '12.1 million[146]', '12 million[147][148]', '12 million[149]',
       '12 million[150]', '12 million[151]', '12 million[152]',
       '12 million[153]',
       '11\x9612 million (during the 20th century)[154]',
       '11 million[155]', '11 million[156]', '11 million[157]',
       '10.5 million[158]', '10.4 million in the U.S.[127]',
       '10 million[159]', '10 million[160]', '10.5 million[161]',
       '10 million[162]', '10 million[163]', '10 million[164]',
       '10 million[165]', '10 million[166]', '10 million[167]',
       '10 million[168]', '10 million[169]', '10 million[170]',
       '10 million[171]', '10 million[172]', '10 million[173]',
       '10 million[174]', '10 million[175]', '10 million[176]',
       '10 million[177]', '10 million[178]', '10 million[179]',
       '10 million[180]', '10 million[181]', '10 million[182]',
       '10 million[183]', '10 million[184]', '10 million[185]',
       '10 million (as of 2005)[186]', '82 million[325][326]',
       '75 million[327]',
       '>70 million (Only counting version published by Choi)[328]',
       '55 million[329]'], dtype=object)

In [170]:
# Definir una funci√≥n para limpiar los valores de la columna 'approximate_sales'
def clean_sales(value):
    # Utilizar expresi√≥n regular para encontrar el n√∫mero en el formato deseado
    match = re.search(r'\d+', value)
    if match:
        return int(match.group())  # Convertir el valor encontrado a entero
    else:
        return None  # Devolver None si no se encuentra ning√∫n n√∫mero

# Aplicar la funci√≥n a la columna 'approximate_sales' para limpiar los valores
df_books['approximate_sales'] = df_books['approximate_sales'].apply(clean_sales)

/tmp/ipykernel_291491/45891246.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_books['approximate_sales'] = df_books['approximate_sales'].apply(clean_sales)

In [171]:
df_books.head()

,book,author(s),original_language,first_published,approximate_sales,genre
0,A Tale of Two Cities,Charles Dickens,English,1859,200,Historical fiction
1,The Little Prince (Le Petit Prince),Antoine de Saint-Exup√©ry,French,1943,200,"Fantasy, Children's fiction"
2,Harry Potter and the Philosopher's Stone,J. K. Rowling,English,1997,120,"Fantasy, Children's fiction"
3,And Then There Were None,Agatha Christie,English,1939,100,Mystery
4,Dream of the Red Chamber (???),Cao Xueqin,Chinese,1791,100,Family saga

In [173]:
df_books.to_csv ('output_files/books.csv')