In [1]:
import pandas as pd
from src import soporte as sp
import numpy as np

pd.set_option('display.max_columns', None) 
import warnings
warnings.filterwarnings("ignore")

In [2]:
amazon = pd.read_csv('output_files/amazon_españa.csv')
amazon

,Título.1,Autor,Puntuacion,Precio,Genero,Formato
0,50 Cápsulas de Amor Propio: Múltiples maneras ...,Sara Espejo,4.6,17.48,Autoayuda,Tapa blanda
1,Adiós a la inflamación. Cómo prevenir enfermed...,Sandra Moñino,4.9,18.90,Nutrición,Tapa blanda
2,Alas de sangre,Rebecca Yarros,4.7,20.61,Fantasía,Tapa dura
3,Algo que sirva como luz: Supersubmarina: la hi...,Fernando Navarro,4.6,18.90,Biografía,Tapa blanda
4,Anatomía del mal: 8 crímenes que te harán perd...,Jordi Wild,4.4,19.85,No Ficción,Tapa dura
5,Ansia,Henar Álvarez,4.4,18.90,Erótica,Tapa blanda
6,Binding 13,Chloe Walsh,4.6,18.95,Juvenil,Tapa blanda
7,BLACKWATER I. La riada: 1,Michael McDowell,4.3,9.40,Ficción,Tapa blanda
8,BLACKWATER II. El dique: 2,Michael McDowell,4.4,9.40,Ficción,Tapa blanda
9,BLACKWATER III. La casa: 3,Michael McDowell,4.7,9.40,Ficción,Tapa blanda
10,BLACKWATER V. La fortuna: 5,Michael McDowell,4.5,9.40,Ficción,Tapa blanda
11,BLACKWATER VI. Lluvia: 6,Michael McDowell,4.6,9.40,Ficción,Tapa blanda
12,Cómo hacer que te pasen cosas buenas: Entiende...,Marian Rojas Estapé,4.6,18.90,Psicología,Tapa blanda
13,Destroza este diario. Ahora a todo color,Keri Smith,4.7,11.35,Arte,Tapa blanda
14,El Hombre en busca de Sentido,Viktor Emil Frankl,4.7,12.25,Psicología,Tapa blanda
15,El monje que vendió su Ferrari: Una fábula esp...,Robin Sharma,4.6,9.46,Ficción,Libro de bolsillo
16,El Poder Del Ahora Una Guía Para La Iluminació...,Eckhart Tolle,4.5,9.50,Autoayuda,Tapa blanda
17,En agosto nos vemos,Gabriel García Márquez,4.1,18.90,Ficción,Tapa dura
18,Fabricante de lágrimas,Erin Doom,4.3,23.70,Juvenil,Tapa dura
19,Fabricante de lágrimas: Un fenómeno bestseller...,Erin Doom,4.3,18.95,Juvenil,Tapa blanda
20,"Hábitos atómicos: Cambios pequeños, resultados...",James Clear,4.6,18.90,Otros,Tapa blanda
21,La grieta del silencio,Javier Castillo,4.6,20.80,Thriller,Tapa blanda
22,La paciente silenciosa,Alex Michaelides,4.2,10.40,Thriller,Libro de bolsillo
23,Las hijas de la criada Premio Planeta 2023,Sonsoles Ónega,4.2,21.75,Ficción,Tapa dura
24,No hagas montañas de granos de arena,Rafael Santandreu,4.0,19.85,Autoayuda,Tapa blanda
25,París 2024,Francisco Ibáñez,4.6,15.15,Cómic,Tapa dura
26,Powerless,Lauren Roberts,4.5,23.70,Juvenil,Tapa dura
27,"Recupera tu mente, reconquista tu vida",Marian Rojas Estapé,4.7,19.85,Psicología,Tapa blanda
28,Romper el hielo,Hannah Grace,4.3,18.90,Juvenil,Tapa blanda
29,Un animal salvaje,Joël Dicker,4.2,22.70,Thriller,Tapa blanda

# Análisis.   
- Top 100 Trending Books.   
- Book Repository.   
- Amazon (Tres csv)

### Top 100 Trending Books

In [7]:
books = sp.leer_csv('input_files', 'Top-100 Trending Books')
books

El archivo se ha cargado con éxito.

,Rank,book title,book price,rating,author,year of publication,genre,url
0,1,"Iron Flame (The Empyrean, 2)",18.42,4.1,Rebecca Yarros,2023,Fantasy Romance,amazon.com/Iron-Flame-Empyrean-Rebecca-Yarros/...
1,2,The Woman in Me,20.93,4.5,Britney Spears,2023,Memoir,amazon.com/Woman-Me-Britney-Spears/dp/16680090...
2,3,My Name Is Barbra,31.50,4.5,Barbra Streisand,2023,Autobiography,amazon.com/My-Name-Barbra-Streisand/dp/0525429...
3,4,"Friends, Lovers, and the Big Terrible Thing: A...",23.99,4.4,Matthew Perry,2023,Memoir,amazon.com/Friends-Lovers-Big-Terrible-Thing/d...
4,5,How to Catch a Turkey,5.65,4.8,Adam Wallace,2018,"Childrens, Fiction",amazon.com/How-Catch-Turkey-Adam-Wallace/dp/14...
...,...,...,...,...,...,...,...,...
95,96,First Little Readers Parent Pack: Guided Readi...,11.40,4.7,Deborah Schecter,2010,Nonfiction,amazon.com/First-Little-Readers-Parent-Pack/dp...
96,97,Hatchet,5.14,4.7,Gary Paulsen,1987,"young adult novel, adventure novel, survival ...",amazon.com/Hatchet-Gary-Paulsen/dp/1416936475/...
97,98,"The Wager: A Tale of Shipwreck, Mutiny and Murder",15.30,4.5,David Grann,2023,Nonfiction,amazon.com/Wager-Tale-Shipwreck-Mutiny-Murder/...
98,99,"I'm Dead, Now What?: Important Information Abo...",12.99,4.6,Peter Pauper Press,2015,Nonfiction,amazon.com/Important-Information-Belongings-Bu...
99,100,The Wonky Donkey,5.28,4.8,Craig Smith,2009,"Childrens, Picture Books",amazon.com/Wonky-Donkey-Craig-Smith/dp/0545261...

In [8]:
sp.explorar_duplicados(books)

Tenemos 0 duplicados en el conjunto de datos.

In [9]:
sp.explorar_nulos(books)

Los nulos que tenemos en el conjunto de datos son:

        %_nulos
rating      3.0

In [10]:
sp.mostrar_tipos(books)

Columna 'Rank': int64
Columna 'book title': object
Columna 'book price': float64
Columna 'rating': float64
Columna 'author': object
Columna 'year of publication': int64
Columna 'genre': object
Columna 'url': object

In [11]:
sp.describir_columnas(books, books.columns)

Descripción de la columna RANK:

      count  mean        std  min    25%   50%    75%    max
Rank  100.0  50.5  29.011492  1.0  25.75  50.5  75.25  100.0

 -----

Descripción de la columna BOOK TITLE:

,count,unique,top,freq
book title,100,99,The Ballad of Songbirds and Snakes (A Hunger G...,2

 -----

Descripción de la columna BOOK PRICE:

            count     mean       std   min     25%    50%    75%    max
book price  100.0  12.7086  7.915568  2.78  6.3025  11.48  16.99  48.77

 -----

Descripción de la columna RATING:

        count      mean       std  min  25%  50%  75%  max
rating   97.0  4.689691  0.181133  4.1  4.6  4.7  4.8  5.0

 -----

Descripción de la columna AUTHOR:

       count unique            top freq
author   100     85  Sarah J. Maas    5

 -----

Descripción de la columna YEAR OF PUBLICATION:

,count,mean,std,min,25%,50%,75%,max
year of publication,100.0,2013.76,15.13049,1947.0,2014.0,2019.0,2023.0,2024.0

 -----

Descripción de la columna GENRE:

      count unique         top freq
genre   100     79  Nonfiction    6

 -----

Descripción de la columna URL:

    count unique                                                top freq
url   100    100  amazon.com/Iron-Flame-Empyrean-Rebecca-Yarros/...    1

 -----

In [12]:
books['genre'].unique()

array(['Fantasy Romance', 'Memoir', 'Autobiography', 'Childrens, Fiction',
       'Fantasy', 'Nonfiction, Politics', 'Humor, Middle Grade',
       'Nonfiction, True Crime', 'Historical Fiction',
       'Adventure, War, Science fiction, Romance, Action, Thriller',
       'Self-improvement, Nonfiction', 'Childrens, Storytime,Fiction',
       'Nonfiction',
       'Spiritual Warfare, Biblical Studies - Prophecy, Christian Theology - Eschatology',
       'Fiction, Historical Fiction', 'Literary, Thrillers - Suspense',
       'Picture Books, Biography',
       'Picture Books, Christmas, Holiday, Humor, Childrens, Fiction, Animals',
       'Picture Books, Childrens, Holiday, Animals, Humor, Storytime, Fiction',
       'Nonfiction, Psychology, Self Help, Mental Health, Health, Science',
       'Fantasy, Romance, Young Adult, Fiction, New Adult, Fae',
       'Fiction, Contemporary, LGBT, Literary Fiction, Queer, Adult, Mental Health',
       'Fantasy, Dragons, Young Adult, Fiction, High Fantasy, Magic, Science Fiction, Fantasy',
       'Childrens, Activities, Crafts, Games',
       'Picture Book, Cars and Trucks', 'Childrens',
       'Picture Book, Colors, Wild Animals', 'Childrens, literature',
       'Picture Book', 'Spirituality, self-help, personal growth',
       'Thriller, mystery, suspense', 'Picture Books, Childrens, Holiday',
       'Finance, Nonfiction, Psychology, Business, Self Help, Money, Economics',
       'Health, Nonfiction, Science, Self Help',
       'History, Nonfiction, Politics, War', 'Picture Books, Childrens',
       'Self Help, Nonfiction, Mental Health, Psychology, Personal Development, Relationships',
       'Fantasy, Romance', 'Picture Books, Childrens, Fiction, Poetry',
       'Picture Books, Dinosaurs, Childrens, Fiction, Storytime, Fantasy, Animals',
       'Nonfiction, Self Help, Psychology, Business, Leadership, Personal Development',
       'Fiction, Mystery, Thriller, Suspense, Crime, Legal Thriller',
       'Christmas, Romance, Holiday, Contemporary Romance, Contemporary Fiction, Humor',
       'Educational Material, Childrens',
       'Picture Books, Animals, Childrens, Fiction, Love, Family, Humor',
       'Fiction, Alphabet', 'Cookbooks, Cooking', 'Self Help, Psychology',
       'Picture Books, Holiday, Childrens, Fiction, Storytime, Humor',
       'Biography, Nonfiction, Business, Technology', 'Cookbook',
       'Picture Books, Childrens, Holiday, Animals, Kids Fiction',
       'Literary, Medical, Family Life - General, World Literature - India - General',
       'Fiction, Mystery',
       'Dark, Thriller, Fantasy, Adult, Contemporary, Mystery, Horror',
       'Christmas, Picture Books, Holiday, Childrens, Fantasy, Humor, Fiction',
       'Educational Material', 'Childrens, Picture Books, Animals',
       'Thriller, Romance, Mystery, Fiction',
       'Fantasy, Romance, Young Adult, New Adult, Fiction',
       'Nonfiction, Art, Music, Philosophy, Self Help, Writing, Design',
       'Health, Nonfiction, Nutrition, Fitness, Self Help, Science',
       'Fiction',
       'Nonfiction, History, Politics, Israel, Jewish, Judaism, Religion',
       'Childrens, Young Adult, Fantasy, Science Fiction &amp; Horror',
       'Picture Books, Childrens, Fiction',
       'Picture Books, Childrens, Animals, Fiction, Family, Storytime, Poetry',
       'Romance, Contemporary, Contemporary Romance, Fiction, Adult, Chick Lit',
       'Picture Books, Childrens, Holiday, Storytime, Counting, Animals, Number',
       'Childrens Literature',
       'Fiction, Romance, Contemporary, Audiobook, Adult, Adult Fiction',
       'Adventure, War, Science Fiction, Romance, Action, Thriller',
       'Self Help', 'Childrens literature, picture book',
       'Thriller, Mystery', 'Personal Finance',
       'Fantasy, Adventure, Mythology',
       ' young adult novel, adventure novel, survival story',
       'Childrens, Picture Books'], dtype=object)

In [13]:
books['genre'].value_counts()

Nonfiction                                  6
Childrens, literature                       5
Childrens                                   4
Memoir                                      3
Fantasy                                     3
                                           ..
Thriller, mystery, suspense                 1
Spirituality, self-help, personal growth    1
Picture Book                                1
Picture Book, Colors, Wild Animals          1
Childrens, Picture Books                    1
Name: genre, Length: 79, dtype: int64

In [14]:
def extraer_primera_palabra(dataframe, columna_original, nombre_nueva_columna):
    # Dividir la columna por comas y seleccionar la primera palabra
    dataframe[nombre_nueva_columna] = dataframe[columna_original].str.split(',').str[0].str.strip()

In [15]:
extraer_primera_palabra(books, 'genre', 'genre_split')

In [16]:
books

,Rank,book title,book price,rating,author,year of publication,genre,url,genre_split
0,1,"Iron Flame (The Empyrean, 2)",18.42,4.1,Rebecca Yarros,2023,Fantasy Romance,amazon.com/Iron-Flame-Empyrean-Rebecca-Yarros/...,Fantasy Romance
1,2,The Woman in Me,20.93,4.5,Britney Spears,2023,Memoir,amazon.com/Woman-Me-Britney-Spears/dp/16680090...,Memoir
2,3,My Name Is Barbra,31.50,4.5,Barbra Streisand,2023,Autobiography,amazon.com/My-Name-Barbra-Streisand/dp/0525429...,Autobiography
3,4,"Friends, Lovers, and the Big Terrible Thing: A...",23.99,4.4,Matthew Perry,2023,Memoir,amazon.com/Friends-Lovers-Big-Terrible-Thing/d...,Memoir
4,5,How to Catch a Turkey,5.65,4.8,Adam Wallace,2018,"Childrens, Fiction",amazon.com/How-Catch-Turkey-Adam-Wallace/dp/14...,Childrens
...,...,...,...,...,...,...,...,...,...
95,96,First Little Readers Parent Pack: Guided Readi...,11.40,4.7,Deborah Schecter,2010,Nonfiction,amazon.com/First-Little-Readers-Parent-Pack/dp...,Nonfiction
96,97,Hatchet,5.14,4.7,Gary Paulsen,1987,"young adult novel, adventure novel, survival ...",amazon.com/Hatchet-Gary-Paulsen/dp/1416936475/...,young adult novel
97,98,"The Wager: A Tale of Shipwreck, Mutiny and Murder",15.30,4.5,David Grann,2023,Nonfiction,amazon.com/Wager-Tale-Shipwreck-Mutiny-Murder/...,Nonfiction
98,99,"I'm Dead, Now What?: Important Information Abo...",12.99,4.6,Peter Pauper Press,2015,Nonfiction,amazon.com/Important-Information-Belongings-Bu...,Nonfiction
99,100,The Wonky Donkey,5.28,4.8,Craig Smith,2009,"Childrens, Picture Books",amazon.com/Wonky-Donkey-Craig-Smith/dp/0545261...,Childrens

*No hay que hacer cambios en este csv. Hay nulos en los precios pero vamos a dejarlo así. Aún así de la columna genre he separado por la primera palabra antes de las comas, para mayor facilidad. Eliminar la columna original si nos quedamos con la nueva.*

In [17]:
sp.guardado_csv(books, 'output_files', 'top_100_trending')

El dataframe ha sido guardado con éxito.

### Book Repository

In [18]:
repository = sp.leer_csv('input_files', 'BookRepository')
repository

El archivo se ha cargado con éxito.

,Title,Author,Published date,Format,Sale Price,Old Price,Category
0,Daisy Jones and The Six,Taylor Jenkins Reid,09 Jan 2020,Paperback,11.28,11.5,Art-Photography
1,"Love, Pamela",Pamela Anderson,31 Jan 2023,Hardback,18.99,24.5,Art-Photography
2,"Tomorrow, and Tomorrow, and Tomorrow",Gabrielle Zevin,14 Jul 2022,Hardback,19.99,21.0,Art-Photography
3,I'm Glad My Mom Died,Jennette McCurdy,15 Sep 2022,Hardback,22.95,31.5,Art-Photography
4,Fleabag: The Scriptures,Phoebe Waller-bridge,13 May 2021,Paperback,14.54,21.0,Art-Photography
...,...,...,...,...,...,...,...
9233,The Overstory,Richard Powers,01 Jul 2019,Paperback,12.00,13.5,Crime-and-Thriller
9234,Triple,Ken Follett,09 Oct 2019,Paperback,11.84,12.5,Crime-and-Thriller
9235,The Dark Hours,Michael Connelly,12 May 2022,Paperback,9.30,11.5,Crime-and-Thriller
9236,The Hate U Give,Angie Thomas,06 Apr 2017,Paperback,9.48,11.5,Crime-and-Thriller
9237,The Picture of Dorian Gray,Oscar Wilde,02 Jul 2008,Paperback,6.39,6.5,Crime-and-Thriller

In [19]:
sp.explorar_duplicados(repository)

Tenemos 2769 duplicados en el conjunto de datos.

In [20]:
duplicates_df = repository[repository.duplicated(keep=False)] #hay que poner keep=False para que todos los valores duplicados se muestren. En este caso los necesitamos para comprobarlo
duplicates_df.head(50)

,Title,Author,Published date,Format,Sale Price,Old Price,Category
12,Colour Clash,NaN,02 Feb 2023,Paperback,18.82,24.50,Art-Photography
13,Still Pictures,Janet Malcolm,02 Feb 2023,Hardback,19.04,21.00,Art-Photography
19,The Artist's Way,Julia Cameron,05 Nov 2020,Paperback,15.52,18.50,Art-Photography
21,Textilepedia,NaN,25 Jun 2020,Hardback,29.32,38.50,Art-Photography
22,Metric Pattern Cutting for Women's Wear 6e,W Aldrich,06 Apr 2015,Hardback,38.22,38.22,Art-Photography
29,Fashionpedia,Fashionary,06 Jan 2016,Hardback,32.78,44.50,Art-Photography
31,Peter Lindbergh. On Fashion Photography. 40th Ed.,Peter Lindbergh,09 Sep 2022,Hardback,26.96,26.96,Art-Photography
36,To the One I Love the Best,Ludwig Bemelmans,07 Mar 2023,Paperback,12.40,12.50,Art-Photography
50,Tom Ford,Tom Ford,04 Nov 2008,Hardback,144.18,144.18,Art-Photography
109,Waiting for Godot,Samuel Beckett,01 May 2006,Paperback,10.67,12.50,Art-Photography
119,Ayoade on Ayoade,Richard Ayoade,13 Dec 2016,Paperback,9.99,13.50,Art-Photography
120,Waiting for Godot,Samuel Beckett,03 Jun 2010,Paperback,10.69,12.50,Art-Photography
121,Rosencrantz and Guildenstern Are Dead,Tom Stoppard,01 Jan 1973,Paperback,10.66,12.50,Art-Photography
135,Still Pictures,Janet Malcolm,02 Feb 2023,Hardback,19.04,21.00,Art-Photography
136,Built,Valerio Olgiati,13 Mar 2023,Hardback,37.33,38.00,Art-Photography
142,Peter Lindbergh. On Fashion Photography. 40th Ed.,Peter Lindbergh,09 Sep 2022,Hardback,26.96,26.96,Art-Photography
143,Tom Ford,Tom Ford,04 Nov 2008,Hardback,144.18,144.18,Art-Photography
144,Ways of Seeing,John Berger,01 Mar 2009,Paperback,11.11,12.50,Art-Photography
145,On Photography,Susan Sontag,01 Apr 2010,Paperback,11.21,12.50,Art-Photography
156,Colour Clash,NaN,02 Feb 2023,Paperback,18.82,24.50,Art-Photography
157,The Artist's Way,Julia Cameron,05 Nov 2020,Paperback,15.52,18.50,Art-Photography
161,Ways of Seeing,John Berger,01 Mar 2009,Paperback,11.11,12.50,Art-Photography
162,On Photography,Susan Sontag,01 Apr 2010,Paperback,11.21,12.50,Art-Photography
177,Textilepedia,NaN,25 Jun 2020,Hardback,29.32,38.50,Art-Photography
178,Metric Pattern Cutting for Women's Wear 6e,W Aldrich,06 Apr 2015,Hardback,38.22,38.22,Art-Photography
180,Built,Valerio Olgiati,13 Mar 2023,Hardback,37.33,38.00,Art-Photography
190,Fashionpedia,Fashionary,06 Jan 2016,Hardback,32.78,44.50,Art-Photography
196,To the One I Love the Best,Ludwig Bemelmans,07 Mar 2023,Paperback,12.40,12.50,Art-Photography
198,Waiting for Godot,Samuel Beckett,01 May 2006,Paperback,10.67,12.50,Art-Photography
200,Ayoade on Ayoade,Richard Ayoade,13 Dec 2016,Paperback,9.99,13.50,Art-Photography
201,Waiting for Godot,Samuel Beckett,03 Jun 2010,Paperback,10.69,12.50,Art-Photography
213,Rosencrantz and Guildenstern Are Dead,Tom Stoppard,01 Jan 1973,Paperback,10.66,12.50,Art-Photography
256,World War Z,Max Brooks,16 Oct 2007,CD-Audio,17.19,18.00,Audio-Books
375,World War Z,Max Brooks,16 Oct 2007,CD-Audio,17.19,18.00,Audio-Books
385,O QUE SOBRA,Principe Harry,10 Jan 2023,Paperback,38.13,38.13,Biography
386,Reserve,Prince Harry,13 Jan 2023,Hardback,26.53,26.53,Biography
387,Spare,Prince Harry the Duke of Sussex,10 Jan 2023,Hardback,25.49,35.50,Biography
388,Spare: En la sombra,"Prince Harry, The Duke of Sussex",10 Jan 2023,Paperback,23.99,25.50,Biography
389,Le suppléant,Prince Harry,10 Jan 2023,Paperback,34.37,39.50,Biography
390,Spare,Prince Harry,23 Feb 2023,CD-Audio,25.50,25.50,Biography
391,En la sombra,Principe Harry,10 Jan 2023,Paperback,37.43,37.43,Biography
392,Spare,Prince Harry,10 Jan 2023,CD-Audio,50.00,50.00,Biography
393,Spare,Prince Harry,10 Jan 2023,Paperback,36.45,47.00,Biography
394,Spare,Prince Harry,10 Jan 2023,Hardback,27.04,35.50,Biography
395,Den andre,Prins Harry,10 Jan 2023,Hardback,37.99,37.99,Biography
396,Spare,Prince Harry the Duke of Sussex,10 Jan 2023,Hardback,25.49,35.50,Biography
397,"Love, Pamela",Pamela Anderson,31 Jan 2023,Hardback,18.99,24.50,Biography
398,Finding Hildasay,Christian Lewis,02 Feb 2023,Hardback,20.48,21.00,Biography
399,Getting Better,Michael Rosen,02 Feb 2023,Hardback,20.65,21.00,Biography
400,Still Pictures,Janet Malcolm,02 Feb 2023,Hardback,19.04,21.00,Biography

In [21]:
sp.explorar_nulos(repository)

Los nulos que tenemos en el conjunto de datos son:

         %_nulos
Author  0.573717
Format  0.010825

In [22]:
sp.rellenar_nulos(repository, 'Author', 'Unknown')

El total de nulos en las columnas Author después de aplicar .fillna() es: 0

In [23]:
sp.mostrar_tipos(repository)

Columna 'Title': object
Columna 'Author': object
Columna 'Published date': object
Columna 'Format': object
Columna 'Sale Price': float64
Columna 'Old Price': float64
Columna 'Category': object

In [24]:
sp.describir_columnas(repository, repository.columns)

Descripción de la columna TITLE:

      count unique                       top freq
Title  9238   4420  Once Upon A Broken Heart   22

 -----

Descripción de la columna AUTHOR:

       count unique                top freq
Author  9238   3243  Mo Xiang Tong Xiu  112

 -----

Descripción de la columna PUBLISHED DATE:

               count unique          top freq
Published date  9238   1975  02 Feb 2023  220

 -----

Descripción de la columna FORMAT:

       count unique        top  freq
Format  9237     16  Paperback  6153

 -----

Descripción de la columna SALE PRICE:

             count       mean        std   min    25%    50%     75%     max
Sale Price  9238.0  18.527435  13.078324  3.72  11.31  14.99  21.325  417.43

 -----

Descripción de la columna OLD PRICE:

            count       mean        std   min   25%   50%   75%    max
Old Price  9238.0  20.757079  14.757305  3.72  12.5  16.9  24.5  431.5

 -----

Descripción de la columna CATEGORY:

         count unique      top  freq
Category  9238     49  Fiction  1012

 -----

In [25]:
sp.guardado_csv(repository, 'output_files', 'book_repository')

El dataframe ha sido guardado con éxito.

*Cambiados nulos de autor por desconocido. ver si hacer lo mismo con el formato, tal vez es mejor dejarlo como nulo. Ver lo que hacer con los duplicados.*

### Amazon Books

In [26]:
amazon = pd.read_csv('input_files/Amazon Books/amazon_ml_ds_books.csv')
amazon

,Title,Authors,Price,Stars,Number of Reviews,Published Date,Country,Currency
0,"Hands-On Machine Learning with Scikit-Learn, K...",[],68.0,NaN,NaN,2022-10-31,Australia,AU Dollars
1,Machine Learning for Absolute Beginners: A Pla...,[],0.0,NaN,NaN,2020-12-31,Australia,AU Dollars
2,The Hundred-Page Machine Learning Book,[],49.0,NaN,NaN,2019-01-01,Australia,AU Dollars
3,Machine Learning: A Probabilistic Perspective ...,[],161.0,NaN,NaN,2012-09-07,Australia,AU Dollars
4,Approaching (Almost) Any Machine Learning Prob...,[],9.0,NaN,NaN,2020-06-30,Australia,AU Dollars
...,...,...,...,...,...,...,...,...
8424,Microservices in Action,['Morgan Bruce'],39.0,NaN,45.0,NaN,USA,USD
8425,"Practical Data Science with R, Second Edition","['Nina Zumel', 'John Mount']",42.0,NaN,37.0,NaN,USA,USD
8426,Essential Calculus Skills Practice Workbook wi...,['Chris McMullen'],11.0,NaN,2011.0,NaN,USA,USD
8427,Cleaning Data for Effective Data Science: Doin...,"['David Mertz', 'Kindle']",39.0,NaN,29.0,NaN,USA,USD
8428,Expert Data Modeling with Power BI: Enrich and...,['Soheil Bakhshi'],59.0,NaN,41.0,NaN,USA,USD

In [27]:
sp.explorar_duplicados(amazon)

Tenemos 1509 duplicados en el conjunto de datos.

In [28]:
sp.explorar_nulos(amazon)

Los nulos que tenemos en el conjunto de datos son:

                     %_nulos
Title               0.023728
Price               2.360897
Stars              31.771266
Number of Reviews  24.415708
Published Date     78.657017
Currency            2.360897

In [29]:
amazon['Currency'].unique()

array(['AU Dollars', nan, 'Brazilian Real', 'Pounds', 'Euro', 'Franc',
       'Rupees', 'Yen', 'Peso', 'Polish Zloty', 'Pound', 'USD'],
      dtype=object)

In [30]:
amazon_popular = pd.read_csv('input_files/Amazon Books/Amazon_popular_books_dataset.csv')
amazon_popular

,asin,ISBN10,answered_questions,availability,brand,currency,date_first_available,delivery,department,description,discount,domain,features,final_price,format,image_url,images_count,initial_price,item_weight,manufacturer,model_number,plus_content,product_dimensions,rating,reviews_count,root_bs_rank,seller_id,seller_name,timestamp,title,upc,url,video,video_count,categories,best_sellers_rank,buybox_seller,image,number_of_sellers,colors
0,0007350813,0007350813,0,In Stock.,Emily Brontë,USD,NaN,"[""FREE delivery Tuesday, December 28 if you sp...",NaN,NaN,NaN,www.amazon.com,[],3.99,"[{""name"":""Kindle"",""price"":""$0.99"",""url"":""/Wuth...",https://images-na.ssl-images-amazon.com/images...,4,NaN,7.8 ounces,NaN,NaN,NaN,1 x 4.3 x 7 inches,4.6 out of 5 stars,13451,253400.0,ATVPDKIKX0DER,Amazon,2021-12-21T23:35:40.084Z,Wuthering Heights (Collins Classics),NaN,https://www.amazon.com/dp/0007350813,NaN,0,"[""Books"",""Literature & Fiction"",""Genre Fiction""]","[{""category"":""Books / Literature & Fiction / H...",NaN,NaN,NaN,NaN
1,0007513763,9780007513765,0,In Stock.,Drew Daywalt,USD,NaN,"[""FREE delivery Tuesday, December 28 if you sp...",NaN,NaN,NaN,www.amazon.com,[],12.08,"[{""name"":""Kindle"",""price"":""$10.99"",""url"":""/Day...",https://images-na.ssl-images-amazon.com/images...,2,NaN,8.5 ounces,NaN,NaN,NaN,9.92 x 0.24 x 9.88 inches,4.8 out of 5 stars,16628,113569.0,ATVPDKIKX0DER,VMG Books & Media,2021-12-21T23:23:16.450Z,THE DAYS THE CRAYONS QUIT,NaN,https://www.amazon.com/dp/0007513763,NaN,0,"[""Books"",""Children's Books"",""Literature & Fict...","[{""category"":""Books / Children's Books / Liter...",VMG Books & Media,NaN,NaN,NaN
2,0008183988,0008183988,0,NaN,Bernard Cornwell,USD,NaN,"[""FREE delivery January 4 - 10 if you spend $2...",NaN,NaN,NaN,www.amazon.com,[],NaN,"[{""name"":""Kindle"",""price"":""$11.99"",""url"":""/War...",https://images-na.ssl-images-amazon.com/images...,6,NaN,12.3 ounces,NaN,NaN,NaN,5.08 x 1.18 x 7.8 inches,4.8 out of 5 stars,11275,26233.0,ATVPDKIKX0DER,Reuseaworld,2021-12-21T23:23:19.996Z,War Lord: Book 13 (The Last Kingdom Series),NaN,https://www.amazon.com/dp/0008183988,NaN,0,"[""Books"",""Literature & Fiction"",""Genre Fiction""]","[{""category"":""Books / Literature & Fiction / H...",Reuseaworld,NaN,NaN,NaN
3,0008305838,0008305838,0,In Stock.,David Walliams,USD,NaN,"[""FREE delivery Tuesday, December 28 if you sp...",NaN,NaN,NaN,www.amazon.com,[],20.43,"[{""name"":""Paperback"",""price"":""$24.78"",""url"":""/...",https://images-na.ssl-images-amazon.com/images...,4,NaN,1.28 pounds,NaN,NaN,NaN,5.55 x 1.61 x 8.74 inches,4.8 out of 5 stars,15520,110841.0,ATVPDKIKX0DER,Bahamut Media,2021-12-21T23:23:17.540Z,Code Name Bananas: The hilarious and epic new ...,NaN,https://www.amazon.com/dp/0008305838,NaN,0,"[""Books"",""Children's Books"",""Literature & Fict...","[{""category"":""Books / Children's Books / Liter...",Bahamut Media,NaN,NaN,NaN
4,0008375526,0008375526,0,In Stock.,Caroline Hirons,USD,NaN,"[""FREE delivery Tuesday, December 28"",""Or fast...",NaN,NaN,NaN,www.amazon.com,[],28.89,"[{""name"":""Kindle"",""price"":""$16.99"",""url"":""/Ski...",https://images-na.ssl-images-amazon.com/images...,7,NaN,2.31 pounds,NaN,NaN,NaN,7.48 x 1 x 9.49 inches,4.8 out of 5 stars,10884,41101.0,ATVPDKIKX0DER,KathrynAshleyGallery,2021-12-21T23:35:39.675Z,Skincare: The award-winning ultimate no-nonsen...,NaN,https://www.amazon.com/dp/0008375526,NaN,0,"[""Books"",""Crafts, Hobbies & Home"",""Home Improv...","[{""category"":""Books / Health, Fitness & Dietin...",KathrynAshleyGallery,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2264,B07P5BPVGM,NaN,0,NaN,Jess Lourey,USD,NaN,[],NaN,NaN,NaN,www.amazon.com,[],NaN,"[{""name"":""Audiobook"",""price"":""Audiobook $0.00""...",NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,4.2 out of 5 stars,17923,1882.0,NaN,Amazon,2021-12-22T04:29:46.822Z,Unspeakable Things,NaN,https://www.amazon.com/dp/B07P5BPVGM,NaN,0,"[""Books"",""Mystery, Thriller & Suspense"",""Thril...","[{""category"":""Books / Mystery, Thriller & Susp...",NaN,NaN,NaN,NaN
2265,B07P5JBCFL,NaN,0,NaN,"Heidi Murkoff (Author, Narrator), Meeghan Hola...",USD,NaN,[],NaN,NaN,NaN,www.amazon.com,[],NaN,"[{""name"":""Kindle"",""price"":""$9.40"",""url"":""/What...",NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,4.8 out of 5 stars,25304,1004.0,NaN,Amazon,2021-12-22T04:27:26.621Z,What to Expect When You’re Expecting,NaN,https://www.amazon.com/dp/B07P5JBCFL,NaN,0,"[""Books"",""Health, Fitness & Dieting"",""Women's ...","[{""category"":""Books / Health, Fitness & Dietin...",NaN,NaN,NaN,NaN
2266,B07NF7DFS2,NaN,0,NaN,"Clea Shearer (Author, Narrator), Joanna Teplin...",USD,NaN,[],NaN,NaN,NaN,www.amazon.com,[],NaN,"[{""name"":""Kindle"",""price"":""$15.99"",""url"":""/Hom...",NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,4.7 out of 5 stars,11040,9530.0,NaN,Amazon,2021-12-22T04:21:23.495Z,The Home Edit: A Guide to Organizing and Reali...,NaN,https://www.amazon.com/dp/B07NF7DFS2,NaN,0,"[""Books"",""Crafts, Hobbies & Home"",""Home Improv...","[{""category"":""Audible Books & Originals / Home...",NaN,NaN,NaN,NaN
2267,B07P67N918,NaN,0,NaN,"Lisa Jewell (Author), Tamaryn Payne (Narrator)...",USD,NaN,[],NaN,NaN,NaN,www.amazon.com,[],NaN,"[{""name"":""Kindle"",""price"":""$12.99"",""url"":""/Fam...",NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,4.4 out of 5 stars,28030,1213.0,NaN,Amazon,2021-12-22T04:29:00.579Z,The Family Upstairs: A Novel,NaN,https://www.amazon.com/dp/B07P67N918,NaN,0,"[""Books"",""Mystery, Thriller & Suspense"",""Thril...","[{""category"":""Audible Books & Originals / Myst...",NaN,NaN,NaN,NaN
2268,B07PFY8K2N,NaN,0,NaN,"Elton John (Author, Narrator), Taron Egerton (...",USD,NaN,[],NaN,NaN,NaN,www.amazon.com,[],NaN,"[{""name"":""Kindle"",""price"":""$12.99"",""url"":""/Me-...",NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,4.8 out of 5 stars,18141,1720.0,NaN,Amazon,2021-12-22T04:28:22.021Z,Me: Elton John Official Autobiography,NaN,https://www.amazon.com/dp/B07PFY8K2N,NaN,0,"[""Books"",""Arts & Photography"",""Music"",""Musical...","[{""category"":""Audible Books & Originals / Arts...",NaN,NaN,NaN,NaN

### Goodreads

In [31]:
goodreads = pd.read_csv('input_files/Goodreads-books/books.csv', error_bad_lines=False)
goodreads

b'Skipping line 3350: expected 12 fields, saw 13\nSkipping line 4704: expected 12 fields, saw 13\nSkipping line 5879: expected 12 fields, saw 13\nSkipping line 8981: expected 12 fields, saw 13\n'

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,0439785960,9780439785969,eng,652,2095690,27591,9/16/2006,Scholastic Inc.
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,4.49,0439358078,9780439358071,eng,870,2153167,29221,9/1/2004,Scholastic Inc.
2,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,0439554896,9780439554893,eng,352,6333,244,11/1/2003,Scholastic
3,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,4.56,043965548X,9780439655484,eng,435,2339585,36325,5/1/2004,Scholastic Inc.
4,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,4.78,0439682584,9780439682589,eng,2690,41428,164,9/13/2004,Scholastic
...,...,...,...,...,...,...,...,...,...,...,...,...
11118,45631,Expelled from Eden: A William T. Vollmann Reader,William T. Vollmann/Larry McCaffery/Michael He...,4.06,1560254416,9781560254416,eng,512,156,20,12/21/2004,Da Capo Press
11119,45633,You Bright and Risen Angels,William T. Vollmann,4.08,0140110879,9780140110876,eng,635,783,56,12/1/1988,Penguin Books
11120,45634,The Ice-Shirt (Seven Dreams #1),William T. Vollmann,3.96,0140131965,9780140131963,eng,415,820,95,8/1/1993,Penguin Books
11121,45639,Poor People,William T. Vollmann,3.72,0060878827,9780060878825,eng,434,769,139,2/27/2007,Ecco
11122,45641,Las aventuras de Tom Sawyer,Mark Twain,3.91,8497646983,9788497646987,spa,272,113,12,5/28/2006,Edimat Libros

In [32]:
sp.explorar_duplicados(goodreads)

Tenemos 0 duplicados en el conjunto de datos.

In [33]:
sp.explorar_nulos(goodreads)

Los nulos que tenemos en el conjunto de datos son:

Empty DataFrame
Columns: [%_nulos]
Index: []

In [34]:
sp.mostrar_tipos(goodreads)

Columna 'bookID': int64
Columna 'title': object
Columna 'authors': object
Columna 'average_rating': float64
Columna 'isbn': object
Columna 'isbn13': int64
Columna 'language_code': object
Columna '  num_pages': int64
Columna 'ratings_count': int64
Columna 'text_reviews_count': int64
Columna 'publication_date': object
Columna 'publisher': object

In [35]:
goodreads['language_code'].unique()

array(['eng', 'en-US', 'fre', 'spa', 'en-GB', 'mul', 'grc', 'enm',
       'en-CA', 'ger', 'jpn', 'ara', 'nl', 'zho', 'lat', 'por', 'srp',
       'ita', 'rus', 'msa', 'glg', 'wel', 'swe', 'nor', 'tur', 'gla',
       'ale'], dtype=object)

In [36]:
language_map = {
    'eng': 'English',
    'en-US': 'English',
    'fre': 'French',
    'spa': 'Spanish',
    'en-GB': 'English',
    'mul': 'Multiple languages',
    'grc': 'Ancient Greek',
    'enm': 'English',
    'en-CA': 'English',
    'ger': 'German',
    'jpn': 'Japanese',
    'ara': 'Arabic',
    'nl': 'Dutch',
    'zho': 'Chinese (Mandarin)',
    'lat': 'Latin',
    'por': 'Portuguese',
    'srp': 'Serbian',
    'ita': 'Italian',
    'rus': 'Russian',
    'msa': 'Malay',
    'glg': 'Galician',
    'wel': 'Welsh',
    'swe': 'Swedish',
    'nor': 'Norwegian',
    'tur': 'Turkish',
    'gla': 'Scottish Gaelic',
    'deu': 'German'
}

goodreads['language_code'] = goodreads['language_code'].map(language_map)
goodreads

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,0439785960,9780439785969,English,652,2095690,27591,9/16/2006,Scholastic Inc.
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,4.49,0439358078,9780439358071,English,870,2153167,29221,9/1/2004,Scholastic Inc.
2,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,0439554896,9780439554893,English,352,6333,244,11/1/2003,Scholastic
3,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,4.56,043965548X,9780439655484,English,435,2339585,36325,5/1/2004,Scholastic Inc.
4,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,4.78,0439682584,9780439682589,English,2690,41428,164,9/13/2004,Scholastic
...,...,...,...,...,...,...,...,...,...,...,...,...
11118,45631,Expelled from Eden: A William T. Vollmann Reader,William T. Vollmann/Larry McCaffery/Michael He...,4.06,1560254416,9781560254416,English,512,156,20,12/21/2004,Da Capo Press
11119,45633,You Bright and Risen Angels,William T. Vollmann,4.08,0140110879,9780140110876,English,635,783,56,12/1/1988,Penguin Books
11120,45634,The Ice-Shirt (Seven Dreams #1),William T. Vollmann,3.96,0140131965,9780140131963,English,415,820,95,8/1/1993,Penguin Books
11121,45639,Poor People,William T. Vollmann,3.72,0060878827,9780060878825,English,434,769,139,2/27/2007,Ecco
11122,45641,Las aventuras de Tom Sawyer,Mark Twain,3.91,8497646983,9788497646987,Spanish,272,113,12,5/28/2006,Edimat Libros

In [37]:
'''language_map = {
    'eng': 'Inglés',
    'en-US': 'Inglés (Estados Unidos)',
    'fre': 'Francés',
    'spa': 'Español',
    'en-GB': 'Inglés (Reino Unido)',
    'mul': 'Múltiples idiomas',
    'grc': 'Griego antiguo',
    'enm': 'Inglés medio',
    'en-CA': 'Inglés (Canadá)',
    'ger': 'Alemán',
    'jpn': 'Japonés',
    'ara': 'Árabe',
    'nl': 'Holandés',
    'zho': 'Chino (Mandarín)',
    'lat': 'Latín',
    'por': 'Portugués',
    'srp': 'Serbio',
    'ita': 'Italiano',
    'rus': 'Ruso',
    'msa': 'Malayo',
    'glg': 'Gallego',
    'wel': 'Galés',
    'swe': 'Sueco',
    'nor': 'Noruego',
    'tur': 'Turco',
    'gla': 'Gaélico escocés',
    'deu': 'Alemán'
}

goodreads['language_code'] = goodreads['language_code'].map(language_map)
goodreads'''

"language_map = {\n    'eng': 'Inglés',\n    'en-US': 'Inglés (Estados Unidos)',\n    'fre': 'Francés',\n    'spa': 'Español',\n    'en-GB': 'Inglés (Reino Unido)',\n    'mul': 'Múltiples idiomas',\n    'grc': 'Griego antiguo',\n    'enm': 'Inglés medio',\n    'en-CA': 'Inglés (Canadá)',\n    'ger': 'Alemán',\n    'jpn': 'Japonés',\n    'ara': 'Árabe',\n    'nl': 'Holandés',\n    'zho': 'Chino (Mandarín)',\n    'lat': 'Latín',\n    'por': 'Portugués',\n    'srp': 'Serbio',\n    'ita': 'Italiano',\n    'rus': 'Ruso',\n    'msa': 'Malayo',\n    'glg': 'Gallego',\n    'wel': 'Galés',\n    'swe': 'Sueco',\n    'nor': 'Noruego',\n    'tur': 'Turco',\n    'gla': 'Gaélico escocés',\n    'deu': 'Alemán'\n}\n\ngoodreads['language_code'] = goodreads['language_code'].map(language_map)\ngoodreads"

In [38]:
sp.guardado_csv(goodreads, 'output_files', 'goodreads_books')

El dataframe ha sido guardado con éxito.

### Amazon

In [39]:
amazon = pd.read_csv('input_files/Amazon_Books_Scraping/Books_df.csv', index_col=0)
amazon

,Title,Author,Main Genre,Sub Genre,Type,Price,Rating,No. of People rated,URLs
0,The Complete Novel of Sherlock Holmes,Arthur Conan Doyle,"Arts, Film & Photography",Cinema & Broadcast,Paperback,₹169.00,4.4,19923.0,https://www.amazon.in/Complete-Novels-Sherlock...
1,Black Holes (L) : The Reith Lectures [Paperbac...,Stephen Hawking,"Arts, Film & Photography",Cinema & Broadcast,Paperback,₹99.00,4.5,7686.0,https://www.amazon.in/Black-Holes-Lectures-Ste...
2,The Kite Runner,Khaled Hosseini,"Arts, Film & Photography",Cinema & Broadcast,Kindle Edition,₹175.75,4.6,50016.0,https://www.amazon.in/Kite-Runner-Khaled-Hosse...
3,Greenlights: Raucous stories and outlaw wisdom...,Matthew McConaughey,"Arts, Film & Photography",Cinema & Broadcast,Paperback,₹389.00,4.6,32040.0,https://www.amazon.in/Greenlights-Raucous-stor...
4,The Science of Storytelling: Why Stories Make ...,Will Storr,"Arts, Film & Photography",Cinema & Broadcast,Paperback,₹348.16,4.5,1707.0,https://www.amazon.in/Science-Storytelling-Wil...
...,...,...,...,...,...,...,...,...,...
7923,Insight Guides Poland (Travel Guide with Free ...,Insight Travel Guide,Travel,Travel & Holiday Guides,Paperback,"₹1,326.00",4.7,16.0,https://www.amazon.in/Insight-Guides-Poland-Tr...
7924,Lonely Planet India 19 (Travel Guide),Anirban Mahapatra,Travel,Travel & Holiday Guides,Paperback,₹850.00,4.4,187.0,https://www.amazon.in/Lonely-Planet-India-Trav...
7925,Eyewitness Travel Phrase Book French (EW Trave...,DK,Travel,Travel & Holiday Guides,Paperback,₹307.00,4.5,168.0,https://www.amazon.in/Eyewitness-Travel-Phrase...
7926,Lonely Planet Australia (Travel Guide),Andrew Bain,Travel,Travel & Holiday Guides,Kindle Edition,"₹1,814.50",4.7,267.0,https://www.amazon.in/Lonely-Planet-Australia-...
7927,Political Map of India Latest Map of India Wit...,Wonder House Books,Travel,Travel & Holiday Guides,Poster,₹99.00,3.9,48.0,https://www.amazon.in/Political-Map-India-Terr...

In [40]:
sp.explorar_duplicados(amazon)

Tenemos 0 duplicados en el conjunto de datos.

In [41]:
sp.explorar_nulos(amazon)

Los nulos que tenemos en el conjunto de datos son:

         %_nulos
Author  0.264884

In [42]:
sp.rellenar_nulos(amazon, 'Author', 'Unknown')

El total de nulos en las columnas Author después de aplicar .fillna() es: 0

In [43]:
import re

def extraer_numeros(cadena):
    numeros = re.findall(r'\d+\.\d+|\d+', cadena)
    if numeros:
        return float(numeros[0])
    else:
        return None

In [44]:
amazon['Price'] = amazon['Price'].apply(extraer_numeros)
amazon.head()

,Title,Author,Main Genre,Sub Genre,Type,Price,Rating,No. of People rated,URLs
0,The Complete Novel of Sherlock Holmes,Arthur Conan Doyle,"Arts, Film & Photography",Cinema & Broadcast,Paperback,169.00,4.4,19923.0,https://www.amazon.in/Complete-Novels-Sherlock...
1,Black Holes (L) : The Reith Lectures [Paperbac...,Stephen Hawking,"Arts, Film & Photography",Cinema & Broadcast,Paperback,99.00,4.5,7686.0,https://www.amazon.in/Black-Holes-Lectures-Ste...
2,The Kite Runner,Khaled Hosseini,"Arts, Film & Photography",Cinema & Broadcast,Kindle Edition,175.75,4.6,50016.0,https://www.amazon.in/Kite-Runner-Khaled-Hosse...
3,Greenlights: Raucous stories and outlaw wisdom...,Matthew McConaughey,"Arts, Film & Photography",Cinema & Broadcast,Paperback,389.00,4.6,32040.0,https://www.amazon.in/Greenlights-Raucous-stor...
4,The Science of Storytelling: Why Stories Make ...,Will Storr,"Arts, Film & Photography",Cinema & Broadcast,Paperback,348.16,4.5,1707.0,https://www.amazon.in/Science-Storytelling-Wil...

In [45]:
'''from forex_python.converter import CurrencyRates

c = CurrencyRates()

tasa_de_cambio = c.get_rate('INR', 'USD')

amazon['Price'] = amazon['Price'] * tasa_de_cambio

amazon.head()'''

"from forex_python.converter import CurrencyRates\n\nc = CurrencyRates()\n\ntasa_de_cambio = c.get_rate('INR', 'USD')\n\namazon['Price'] = amazon['Price'] * tasa_de_cambio\n\namazon.head()"

--------

In [ ]:
libros = pd.read_csv('files/Books_Data_Clean.csv', index_col=0)
libros

In [ ]:
libros.isna().sum()
#Eliminar los nombres de libros

Publishing Year         1
Book Name              23
Author                  0
language_code          53
Author_Rating           0
Book_average_rating     0
Book_ratings_count      0
genre                   0
gross sales             0
publisher revenue       0
sale price              0
sales rank              0
Publisher               0
units sold              0
dtype: int64

In [ ]:
libros['language_code'].unique()
#Cambiar a idioma

array(['en-US', 'eng', nan, 'spa', 'en-GB', 'fre', 'en-CA', 'nl', 'ara'],
      dtype=object)

In [ ]:
libros['Author_Rating'].unique()

array(['Novice', 'Intermediate', 'Famous', 'Excellent'], dtype=object)

In [ ]:
libros['genre'].unique()

array(['genre fiction', 'fiction', 'nonfiction', 'children'], dtype=object)

--------

In [ ]:
amazon = pd.read_csv('Amazon_Books_Scraping/Books_df.csv', index_col=0)
amazon
#Cambiar de rupia a euro

,Title,Author,Main Genre,Sub Genre,Type,Price,Rating,No. of People rated,URLs
0,The Complete Novel of Sherlock Holmes,Arthur Conan Doyle,"Arts, Film & Photography",Cinema & Broadcast,Paperback,₹169.00,4.4,19923.0,https://www.amazon.in/Complete-Novels-Sherlock...
1,Black Holes (L) : The Reith Lectures [Paperbac...,Stephen Hawking,"Arts, Film & Photography",Cinema & Broadcast,Paperback,₹99.00,4.5,7686.0,https://www.amazon.in/Black-Holes-Lectures-Ste...
2,The Kite Runner,Khaled Hosseini,"Arts, Film & Photography",Cinema & Broadcast,Kindle Edition,₹175.75,4.6,50016.0,https://www.amazon.in/Kite-Runner-Khaled-Hosse...
3,Greenlights: Raucous stories and outlaw wisdom...,Matthew McConaughey,"Arts, Film & Photography",Cinema & Broadcast,Paperback,₹389.00,4.6,32040.0,https://www.amazon.in/Greenlights-Raucous-stor...
4,The Science of Storytelling: Why Stories Make ...,Will Storr,"Arts, Film & Photography",Cinema & Broadcast,Paperback,₹348.16,4.5,1707.0,https://www.amazon.in/Science-Storytelling-Wil...
...,...,...,...,...,...,...,...,...,...
7923,Insight Guides Poland (Travel Guide with Free ...,Insight Travel Guide,Travel,Travel & Holiday Guides,Paperback,"₹1,326.00",4.7,16.0,https://www.amazon.in/Insight-Guides-Poland-Tr...
7924,Lonely Planet India 19 (Travel Guide),Anirban Mahapatra,Travel,Travel & Holiday Guides,Paperback,₹850.00,4.4,187.0,https://www.amazon.in/Lonely-Planet-India-Trav...
7925,Eyewitness Travel Phrase Book French (EW Trave...,DK,Travel,Travel & Holiday Guides,Paperback,₹307.00,4.5,168.0,https://www.amazon.in/Eyewitness-Travel-Phrase...
7926,Lonely Planet Australia (Travel Guide),Andrew Bain,Travel,Travel & Holiday Guides,Kindle Edition,"₹1,814.50",4.7,267.0,https://www.amazon.in/Lonely-Planet-Australia-...
7927,Political Map of India Latest Map of India Wit...,Wonder House Books,Travel,Travel & Holiday Guides,Poster,₹99.00,3.9,48.0,https://www.amazon.in/Political-Map-India-Terr...

In [ ]:
amazon.dtypes

Title                   object
Author                  object
Main Genre              object
Sub Genre               object
Type                    object
Price                   object
Rating                 float64
No. of People rated    float64
URLs                    object
dtype: object

In [ ]:
amazon.isna().sum()

Title                   0
Author                 21
Main Genre              0
Sub Genre               0
Type                    0
Price                   0
Rating                  0
No. of People rated     0
URLs                    0
dtype: int64

In [ ]:
genero = pd.read_csv('Amazon_Books_Scraping/Genre_df.csv')
genero

,Title,Number of Sub-genres,URL
0,Action & Adventure,0,https://www.amazon.in/gp/bestsellers/books/131...
1,"Arts, Film & Photography",11,https://www.amazon.in/gp/bestsellers/books/131...
2,"Biographies, Diaries & True Accounts",3,https://www.amazon.in/gp/bestsellers/books/131...
3,Business & Economics,4,https://www.amazon.in/gp/bestsellers/books/131...
4,Children's Books,34,https://www.amazon.in/gp/bestsellers/books/646...
5,Comics & Mangas,2,https://www.amazon.in/gp/bestsellers/books/131...
6,"Computing, Internet & Digital Media",11,https://www.amazon.in/gp/bestsellers/books/131...
7,"Crafts, Home & Lifestyle",9,https://www.amazon.in/gp/bestsellers/books/131...
8,"Crime, Thriller & Mystery",3,https://www.amazon.in/gp/bestsellers/books/131...
9,Engineering,18,https://www.amazon.in/gp/bestsellers/books/229...
10,Exam Preparation,15,https://www.amazon.in/gp/bestsellers/books/414...
11,"Fantasy, Horror & Science Fiction",3,https://www.amazon.in/gp/bestsellers/books/140...
12,"Health, Family & Personal Development",4,https://www.amazon.in/gp/bestsellers/books/131...
13,"Health, Fitness & Nutrition",1,https://www.amazon.in/gp/bestsellers/books/230...
14,Higher Education Textbooks,10,https://www.amazon.in/gp/bestsellers/books/414...
15,Historical Fiction,0,https://www.amazon.in/gp/bestsellers/books/131...
16,History,6,https://www.amazon.in/gp/bestsellers/books/414...
17,Humour,0,https://www.amazon.in/gp/bestsellers/books/131...
18,"Language, Linguistics & Writing",7,https://www.amazon.in/gp/bestsellers/books/131...
19,Law,6,https://www.amazon.in/gp/bestsellers/books/414...
20,Literature & Fiction,19,https://www.amazon.in/gp/bestsellers/books/131...
21,Maps & Atlases,0,https://www.amazon.in/gp/bestsellers/books/131...
22,Medicine & Health Sciences,10,https://www.amazon.in/gp/bestsellers/books/414...
23,Politics,7,https://www.amazon.in/gp/bestsellers/books/131...
24,Reference,5,https://www.amazon.in/gp/bestsellers/books/131...
25,Religion,12,https://www.amazon.in/gp/bestsellers/books/131...
26,Romance,29,https://www.amazon.in/gp/bestsellers/books/131...
27,School Books,8,https://www.amazon.in/gp/bestsellers/books/414...
28,Science & Mathematics,9,https://www.amazon.in/gp/bestsellers/books/414...
29,"Sciences, Technology & Medicine",13,https://www.amazon.in/gp/bestsellers/books/131...
30,Society & Social Sciences,7,https://www.amazon.in/gp/bestsellers/books/131...
31,Sports,37,https://www.amazon.in/gp/bestsellers/books/131...
32,Teen & Young Adult,18,https://www.amazon.in/gp/bestsellers/books/646...
33,Textbooks & Study Guides,2,https://www.amazon.in/gp/bestsellers/books/154...
34,Travel,6,https://www.amazon.in/gp/bestsellers/books/131...

In [ ]:
subgenero = pd.read_csv('Amazon_Books_Scraping/Sub_Genre_df.csv', index_col=0)
subgenero

,Main Genre,No. of Books,URLs
Title,,,
Architecture,"Arts, Film & Photography",100.0,https://www.amazon.in/gp/bestsellers/books/131...
Cinema & Broadcast,"Arts, Film & Photography",100.0,https://www.amazon.in/gp/bestsellers/books/131...
Dance,"Arts, Film & Photography",100.0,https://www.amazon.in/gp/bestsellers/books/131...
Design & Fashion,"Arts, Film & Photography",100.0,https://www.amazon.in/gp/bestsellers/books/131...
Museums & Museology,"Arts, Film & Photography",100.0,https://www.amazon.in/gp/bestsellers/books/131...
...,...,...,...
Illustrated Books,Travel,100.0,https://www.amazon.in/gp/bestsellers/books/131...
Specialty Travel,Travel,100.0,https://www.amazon.in/gp/bestsellers/books/145...
Transport,Travel,100.0,https://www.amazon.in/gp/bestsellers/books/229...
Travel & Holiday Guides,Travel,100.0,https://www.amazon.in/gp/bestsellers/books/131...
Travel Writing,Travel,100.0,https://www.amazon.in/gp/bestsellers/books/131...

----

In [ ]:
kindle = pd.read_csv('files/kindle_data-v2.csv')
kindle

,asin,title,author,soldBy,imgUrl,productURL,stars,reviews,price,isKindleUnlimited,category_id,isBestSeller,isEditorsPick,isGoodReadsChoice,publishedDate,category_name
0,B00TZE87S4,Adult Children of Emotionally Immature Parents...,Lindsay C. Gibson,Amazon.com Services LLC,https://m.media-amazon.com/images/I/713KZTsaYp...,https://www.amazon.com/dp/B00TZE87S4,4.8,0,9.99,False,6,True,False,False,2015-06-01,Parenting & Relationships
1,B08WCKY8MB,"From Strength to Strength: Finding Success, Ha...",Arthur C. Brooks,Penguin Group (USA) LLC,https://m.media-amazon.com/images/I/A1LZcJFs9E...,https://www.amazon.com/dp/B08WCKY8MB,4.4,0,16.99,False,6,False,False,False,2022-02-15,Parenting & Relationships
2,B09KPS84CJ,Good Inside: A Guide to Becoming the Parent Yo...,Becky Kennedy,HarperCollins Publishers,https://m.media-amazon.com/images/I/71RIWM0sv6...,https://www.amazon.com/dp/B09KPS84CJ,4.8,0,16.99,False,6,False,True,False,2022-09-13,Parenting & Relationships
3,B07S7QPG6J,Everything I Know About Love: A Memoir,Dolly Alderton,HarperCollins Publishers,https://m.media-amazon.com/images/I/71QdQpTiKZ...,https://www.amazon.com/dp/B07S7QPG6J,4.2,0,9.95,True,6,False,True,False,2020-02-25,Parenting & Relationships
4,B00N6PEQV0,The Seven Principles for Making Marriage Work:...,John Gottman,Random House LLC,https://m.media-amazon.com/images/I/813o4WOs+w...,https://www.amazon.com/dp/B00N6PEQV0,4.7,0,13.99,False,6,False,False,False,2015-05-05,Parenting & Relationships
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133097,B0C3SJDLK8,Anna Karenina,Leo Tolstoy,De Marque,https://m.media-amazon.com/images/I/61RXEyMctk...,https://www.amazon.com/dp/B0C3SJDLK8,4.7,0,0.00,False,29,True,False,False,2023-09-15,Nonfiction
133098,B09DW752Y1,Scary Smart: Scary Smart: The Future of Artifi...,Mo Gawdat,Amazon.com Services LLC,https://m.media-amazon.com/images/I/71tjf6R-Wa...,https://www.amazon.com/dp/B09DW752Y1,4.4,0,9.99,False,29,False,False,False,2021-09-30,Nonfiction
133099,B0CFWHPJTN,The Count of Monte Cristo: The Original Unabri...,Alexandre Dumas,De Marque,https://m.media-amazon.com/images/I/71zcCb5Pvu...,https://www.amazon.com/dp/B0CFWHPJTN,4.8,0,1.99,False,29,True,False,False,2023-09-15,Nonfiction
133100,B0C1KMFXJC,War And Peace,Leo Tolstoy,De Marque,https://m.media-amazon.com/images/I/715QpZlzmi...,https://www.amazon.com/dp/B0C1KMFXJC,4.7,0,0.00,False,29,True,False,False,2023-08-25,Nonfiction
133101,B0BS1KYZB6,Pride and Prejudice,Jane Austen,De Marque,https://m.media-amazon.com/images/I/81Scutrtj4...,https://www.amazon.com/dp/B0BS1KYZB6,4.7,0,0.00,False,29,False,False,False,2023-10-01,Nonfiction

In [ ]:
kindle['asin'].duplicated().sum()

0

----

In [ ]:
#LIBROS MÁS VENDIDOS
books = pd.read_csv('files/Books.csv')
books

,Book,Author(s),Original language,First published,Approximate sales,Genre
0,A Tale of Two Cities,Charles Dickens,English,1859,>200 million[20][circular reporting?],Historical fiction
1,The Little Prince (Le Petit Prince),Antoine de Saint-Exupéry,French,1943,200 million[21][22],"Fantasy, Children's fiction"
2,Harry Potter and the Philosopher's Stone,J. K. Rowling,English,1997,120 million[23][24],"Fantasy, Children's fiction"
3,And Then There Were None,Agatha Christie,English,1939,100 million[25],Mystery
4,Dream of the Red Chamber (???),Cao Xueqin,Chinese,1791,100 million[26][27],Family saga
...,...,...,...,...,...,...
259,Bridget Jones's Diary,Helen Fielding,English,1996,10 million (as of 2005)[186],Erotica
260,World Almanac (published every year),Various authors,English,186876; 1886present,82 million[325][326],Erotica
261,Betty Crocker Cookbook,General Mills staff,English,19502016 (12th edition),75 million[327],Erotica
262,Tung Shing (Chinese: ??),"Choi Park Lai's family, among others",Chinese,1891(Only counting versions published by Choi'...,>70 million (Only counting version published b...,Erotica
263,Merriam-Webster's Collegiate Dictionary,Merriam-Webster,English,1898,55 million[329],Erotica

In [ ]:
books['Genre'].value_counts()

Erotica                              77
Science fiction                      24
Historical fiction                   20
Dystopian fiction                    18
Children's Literature                14
                                     ..
Bildungsroman, Historical fiction     1
Novel, tragedy                        1
Gothic novel                          1
Young adult historical novel          1
Romantic family saga                  1
Name: Genre, Length: 74, dtype: int64

In [ ]:
books['Genre'].unique()

array(['Historical fiction', "Fantasy, Children's fiction", 'Mystery',
       'Family saga', 'Adventure', 'Detective', 'Mystery thriller',
       'Fantasy', 'Coming-of-age', 'Romance', 'Magic realism', 'Novel',
       "Children's fiction", 'Manual', "Children's novel",
       "Children's literature", 'Historical novel, mystery',
       'War, thriller', 'Sexology', 'Coming-of-age Murder mystery',
       "Children's Literature", 'Young Adult Fiction',
       'Historical fiction, war novel', 'Erotica', 'Science fiction',
       'Novella, Self-help', "Children's Literature, picture book",
       'Essay/Literature', 'Southern Gothic, Bildungsroman',
       'Gothic horror, Family saga',
       'Popular science, Anthropology, Astrophysics, Cosmology, Philosophy, History',
       'Philosophical novel, Young adult', 'Mystery-thriller',
       'Socialist realist novel', 'Historical novel',
       'Historical non-fiction, Autobiography, Memoir, Bildungsroman / Coming of Age, Jewish literature',
       'Self-help', 'Romantic family saga',
       'Bildungsroman, Historical fiction', 'Novel, tragedy',
       'Gothic novel', 'Fiction', 'Young adult fiction',
       'Young adult historical novel',
       'Self-help, motivational, business fable, psychology, leadership, parable',
       'Popular science', 'Biographical novel', 'Autobiographical novel',
       'New-age spiritual novel', 'Young adult romantic novel',
       'Thriller', 'Crime novel', 'Romance novel',
       'Young Adult novel, adventure, dystopian, science fiction',
       'Young Adult novel, adventure, war, science fiction, action thriller',
       'Japanese novel', 'Science fiction novel', 'Crime thriller novel',
       'Semi-autobiographical novel', 'Memoir',
       "Children's literature, picture book, fiction", 'Feminist novel',
       'Pregnancy guide',
       'Picaresque novel, Bildungsroman, satire, Robinsonade',
       'Young adult novel', 'Classic regency novel, romance',
       'Travel literature', 'Unfinished satirical dark comedy novel',
       "Children's picture book", 'Romantic novel',
       "Children's fantasy novel",
       'Social Science, Anthropology, Psychology', 'Dystopian fiction',
       'Horror'], dtype=object)

----

In [ ]:
#INTERESANTE

goodreads100 = pd.read_csv('files/goodreads_top100_from1980to2023_final.csv', index_col=0)
goodreads100

,isbn,title,series_title,series_release_number,authors,publisher,language,description,num_pages,format,genres,publication_date,rating_score,num_ratings,num_reviews,current_readers,want_to_read,price,url
0,9780689830594,Summer Story,Brambly Hedge,2,Jill Barklem,Atheneum,English,It was such a hot summer. The sky was deep blu...,32,Hardcover,"['Picture Books', 'Childrens', 'Fiction', 'Ani...","January 1, 1980",4.45,1017.0,74.0,7.0,512.0,3.49,https://www.goodreads.com/book/show/421572.Sum...
1,9780375704970,The Lake of Darkness,NaN,NaN,Ruth Rendell,Vintage Crime/Black Lizard,English,Martin Urban is a quiet bachelor with a comfor...,210,Paperback,"['Mystery', 'Fiction', 'Crime', 'Thriller', 'B...","January 1, 1980",3.76,1388.0,114.0,77.0,623.0,4.99,https://www.goodreads.com/book/show/83394.The_...
2,9780345446671,Beyond the Blue Event Horizon,Heechee Saga,2,Frederik Pohl,Ballantine Books,English,"In Book Two of the Heechee Saga, Robinette Bro...",336,Paperback,"['Science Fiction', 'Fiction', 'Space Opera', ...","January 1, 1980",3.95,13307.0,339.0,181.0,3961.0,11.99,https://www.goodreads.com/book/show/373399.Bey...
3,9780446403016,St. Peter's Fair,Chronicles of Brother Cadfael,4,Ellis Peters,Mysterious Press,English,A pause in the civil war offers Shrewsbury's t...,217,Mass Market Paperback,"['Mystery', 'Historical Fiction', 'Fiction', '...","May 1, 1981",4.12,10493.0,593.0,1298.0,2502.0,0.00,https://www.goodreads.com/book/show/751755.St_...
4,9780425198773,Twice Shy,NaN,NaN,Dick Francis,G.P. Putnam's Sons,English,A computerized horse-betting system falls into...,304,Mass Market Paperback,"['Mystery', 'Fiction', 'Thriller', 'Crime', 'S...","January 1, 1981",3.92,4188.0,174.0,162.0,642.0,8.99,https://www.goodreads.com/book/show/103250.Twi...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4395,9781451648218,Murder Your Employer: The McMasters Guide to H...,NaN,NaN,Rupert Holmes,Avid Reader Press / Simon & Schuster,English,A devilish thriller with a killer concept: The...,389,Hardcover,"['Mystery', 'Fiction', 'Thriller', 'Mystery Th...","February 21, 2023",3.89,20992.0,3479.0,4033.0,84900.0,12.99,https://www.goodreads.com/book/show/61272658-m...
4396,9781250826978,System Collapse,The Murderbot Diaries,7,Martha Wells,Tor Publishing Group/Tordotcom,English,Everyone's favorite lethal SecUnit is back.\nF...,245,Hardcover,"['Science Fiction', 'Fiction', 'Audiobook', 'A...","November 13, 2023",4.24,26566.0,3479.0,3609.0,36600.0,11.99,https://www.goodreads.com/book/show/65211701-s...
4397,9781496737298,"Georgie, All Along",NaN,NaN,Kate Clayborn,Kensington,English,A wise and witty new novel that echoes with ti...,340,Paperback,"['Romance', 'Fiction', 'Contemporary', 'Contem...","January 24, 2023",3.82,48031.0,6590.0,3180.0,76300.0,0.00,https://www.goodreads.com/book/show/60604190-g...
4398,9780525619994,Sword Catcher,Sword Catcher,1,Cassandra Clare,Del Rey Books,English,"In the vibrant city-state of Castellane, the r...",624,Hardcover,"['Fantasy', 'Romance', 'Adult', 'Young Adult',...","October 10, 2023",3.84,14991.0,3523.0,4485.0,149000.0,14.99,https://www.goodreads.com/book/show/36679274-s...
4399,9780593239919,"Poverty, by America",NaN,NaN,Matthew Desmond,Crown,English,"The Pulitzer Prize–winning, bestselling author...",284,Hardcover,"['Nonfiction', 'Politics', 'Sociology', 'Histo...","March 21, 2023",4.30,28248.0,4007.0,6021.0,133000.0,13.99,https://www.goodreads.com/book/show/61358638-p...

In [ ]:
goodreads100['language'].unique()

array(['English', 'French', nan, 'Spanish; Castilian', 'German',
       'Japanese', 'Danish', 'Portuguese', 'Dutch; Flemish'], dtype=object)

-----

In [ ]:
top = pd.read_csv('files/Top-100 Trending Books.csv')
top

,Rank,book title,book price,rating,author,year of publication,genre,url
0,1,"Iron Flame (The Empyrean, 2)",18.42,4.1,Rebecca Yarros,2023,Fantasy Romance,amazon.com/Iron-Flame-Empyrean-Rebecca-Yarros/...
1,2,The Woman in Me,20.93,4.5,Britney Spears,2023,Memoir,amazon.com/Woman-Me-Britney-Spears/dp/16680090...
2,3,My Name Is Barbra,31.50,4.5,Barbra Streisand,2023,Autobiography,amazon.com/My-Name-Barbra-Streisand/dp/0525429...
3,4,"Friends, Lovers, and the Big Terrible Thing: A...",23.99,4.4,Matthew Perry,2023,Memoir,amazon.com/Friends-Lovers-Big-Terrible-Thing/d...
4,5,How to Catch a Turkey,5.65,4.8,Adam Wallace,2018,"Childrens, Fiction",amazon.com/How-Catch-Turkey-Adam-Wallace/dp/14...
...,...,...,...,...,...,...,...,...
95,96,First Little Readers Parent Pack: Guided Readi...,11.40,4.7,Deborah Schecter,2010,Nonfiction,amazon.com/First-Little-Readers-Parent-Pack/dp...
96,97,Hatchet,5.14,4.7,Gary Paulsen,1987,"young adult novel, adventure novel, survival ...",amazon.com/Hatchet-Gary-Paulsen/dp/1416936475/...
97,98,"The Wager: A Tale of Shipwreck, Mutiny and Murder",15.30,4.5,David Grann,2023,Nonfiction,amazon.com/Wager-Tale-Shipwreck-Mutiny-Murder/...
98,99,"I'm Dead, Now What?: Important Information Abo...",12.99,4.6,Peter Pauper Press,2015,Nonfiction,amazon.com/Important-Information-Belongings-Bu...
99,100,The Wonky Donkey,5.28,4.8,Craig Smith,2009,"Childrens, Picture Books",amazon.com/Wonky-Donkey-Craig-Smith/dp/0545261...

----

In [39]:
repository = pd.read_csv('files/BookRepository.csv')
repository

,Title,Author,Published date,Format,Sale Price,Old Price,Category
0,Daisy Jones and The Six,Taylor Jenkins Reid,09 Jan 2020,Paperback,11.28,11.5,Art-Photography
1,"Love, Pamela",Pamela Anderson,31 Jan 2023,Hardback,18.99,24.5,Art-Photography
2,"Tomorrow, and Tomorrow, and Tomorrow",Gabrielle Zevin,14 Jul 2022,Hardback,19.99,21.0,Art-Photography
3,I'm Glad My Mom Died,Jennette McCurdy,15 Sep 2022,Hardback,22.95,31.5,Art-Photography
4,Fleabag: The Scriptures,Phoebe Waller-bridge,13 May 2021,Paperback,14.54,21.0,Art-Photography
...,...,...,...,...,...,...,...
9233,The Overstory,Richard Powers,01 Jul 2019,Paperback,12.00,13.5,Crime-and-Thriller
9234,Triple,Ken Follett,09 Oct 2019,Paperback,11.84,12.5,Crime-and-Thriller
9235,The Dark Hours,Michael Connelly,12 May 2022,Paperback,9.30,11.5,Crime-and-Thriller
9236,The Hate U Give,Angie Thomas,06 Apr 2017,Paperback,9.48,11.5,Crime-and-Thriller
9237,The Picture of Dorian Gray,Oscar Wilde,02 Jul 2008,Paperback,6.39,6.5,Crime-and-Thriller

# Modificación

In [68]:
repos = sp.leer_csv('output_files', 'book_repository')
repos

El archivo se ha cargado con éxito.

,Title,Author,Published date,Format,Sale Price,Old Price,Category
0,Daisy Jones and The Six,Taylor Jenkins Reid,09 Jan 2020,Paperback,11.28,11.5,Art-Photography
1,"Love, Pamela",Pamela Anderson,31 Jan 2023,Hardback,18.99,24.5,Art-Photography
2,"Tomorrow, and Tomorrow, and Tomorrow",Gabrielle Zevin,14 Jul 2022,Hardback,19.99,21.0,Art-Photography
3,I'm Glad My Mom Died,Jennette McCurdy,15 Sep 2022,Hardback,22.95,31.5,Art-Photography
4,Fleabag: The Scriptures,Phoebe Waller-bridge,13 May 2021,Paperback,14.54,21.0,Art-Photography
...,...,...,...,...,...,...,...
9233,The Overstory,Richard Powers,01 Jul 2019,Paperback,12.00,13.5,Crime-and-Thriller
9234,Triple,Ken Follett,09 Oct 2019,Paperback,11.84,12.5,Crime-and-Thriller
9235,The Dark Hours,Michael Connelly,12 May 2022,Paperback,9.30,11.5,Crime-and-Thriller
9236,The Hate U Give,Angie Thomas,06 Apr 2017,Paperback,9.48,11.5,Crime-and-Thriller
9237,The Picture of Dorian Gray,Oscar Wilde,02 Jul 2008,Paperback,6.39,6.5,Crime-and-Thriller

In [63]:
len(repos['Category'].unique())

49

In [64]:
repos['Category'].unique()

array(['Art-Photography', 'Audio-Books', 'Biography',
       'Business-Finance-Law', 'Childrens-Books', 'Computing',
       'Crafts-Hobbies', 'Crime-Thriller', 'Dictionaries-Languages',
       'Entertainment', 'Fiction', 'Food-Drink',
       'Graphic-Novels-Anime-Manga', 'Health', 'History-Archaeology',
       'Home-Garden', 'Humour', 'Medical', 'Mind-Body-Spirit',
       'Natural-History', 'Personal-Development', 'Poetry-Drama',
       'Reference', 'Religion', 'Romance', 'Science-Geography',
       'Science-Fiction-Fantasy-Horror', 'Society-Social-Sciences',
       'Sport', 'Stationery', 'Teaching-Resources-Education',
       'Technology-Engineering', 'Teen-Young-Adult', 'Transport',
       'Travel-Holiday-Guides', 'Books-for-Ages-0-2',
       'Books-for-Ages-3-5', 'Books-for-Ages-6-8', 'Books-for-Ages-9-11',
       'Autobiography-General', 'Fantasy', 'Business-Management',
       'Military-History', 'Crime', 'Graphic-Novels-Anime-and-Manga',
       'Food-and-Drink', 'Crafts-and-Hobbies', 'Art-and-Photography',
       'Crime-and-Thriller'], dtype=object)

In [65]:
repos['Category'].value_counts()

Fiction                           1012
Childrens-Books                    675
Graphic-Novels-Anime-Manga         590
Stationery                         454
Biography                          316
Graphic-Novels-Anime-and-Manga     295
Mind-Body-Spirit                   261
Food-and-Drink                     238
Food-Drink                         238
Poetry-Drama                       227
Art-Photography                    218
Art-and-Photography                218
Home-Garden                        210
Crime-and-Thriller                 207
Dictionaries-Languages             207
Crime-Thriller                     207
Teaching-Resources-Education       204
History-Archaeology                194
Personal-Development               186
Audio-Books                        167
Science-Geography                  161
Religion                           159
Transport                          157
Sport                              154
Humour                             145
Health                             139
Computing                          136
Entertainment                      126
Crafts-and-Hobbies                 124
Crafts-Hobbies                     124
Military-History                   121
Medical                            120
Technology-Engineering             114
Business-Finance-Law               112
Travel-Holiday-Guides              111
Science-Fiction-Fantasy-Horror     109
Business-Management                104
Romance                            103
Reference                           83
Natural-History                     82
Society-Social-Sciences             76
Autobiography-General               75
Fantasy                             69
Teen-Young-Adult                    60
Books-for-Ages-0-2                  30
Books-for-Ages-3-5                  30
Books-for-Ages-6-8                  30
Books-for-Ages-9-11                 30
Crime                               30
Name: Category, dtype: int64

In [69]:
correspondencia_categorias = {
    'Adventure': ['Adventure'],
    'Art': ['Art-and-Photography', 'Crafts-and-Hobbies', 'Stationery', 'Art-Photography'],
    'Audio-Books': ['Audio-Books'],
    'Autobiography': ['Autobiography', 'Autobiography-General'],
    'Biography': ['Biography'],
    'Childrens-Books': ['Childrens-Books', 'Books-for-Ages-0-2', 'Books-for-Ages-3-5', 'Books-for-Ages-6-8', 'Books-for-Ages-9-11'],
    'Christmas': ['Christmas'],
    'Crime-Thriller': ['Crime', 'Crime-and-Thriller'],
    'Cookbook': ['Cookbooks', 'Cookbook'],
    'Dark': ['Dark'],
    'Dictionaries': ['Dictionaries-Languages'],
    'Fantasy': ['Fantasy'],
    'Fantasy Romance': ['Fantasy Romance'],
    'Fiction': ['Fiction'],
    'Graphic-Novel': ['Graphic-Novels-Anime-and-Manga'],
    'Historical Fiction': ['Historical fiction'],
    'History': ['History', 'History-Archaeology', 'Military-History', 'Natural-History'],
    'Humor': ['Humor'],
    'Literary': ['Literary'],
    'Memoir': ['Memoir'],
    'Nonfiction': ['Nonfiction'],
    'Picture Book': ['Picture books', 'Picture book'],
    'Poetry': ['Poetry-Drama'],
    'Religion': ['Religion'],
    'Romance': ['Romance'],
    'Science-Fiction/Fantasy': ['Science-Fiction-Fantasy-Horror'],
    'Self-help': ['Self help', 'Self-improvement', 'Mind-Body-Spirit', 'Personal-Development'],
    'Spirituality': ['Spiritual warfare', 'Spirituality'],
    'Thriller': ['Thriller'],
    'Travel-Holiday-Guides': ['Travel-Holiday-Guides'],
    'Young Adult Novel': ['Young adult novel', 'Teen-Young-Adult']
}

In [70]:
def encontrar_correspondencia(categoria):
    for key, values in correspondencia_categorias.items():
        for value in values:
            if value.lower() in categoria.lower():
                return key
    return 'Other'

In [71]:
repos['genero'] = repos['Category'].apply(encontrar_correspondencia)
repos

,Title,Author,Published date,Format,Sale Price,Old Price,Category,genero
0,Daisy Jones and The Six,Taylor Jenkins Reid,09 Jan 2020,Paperback,11.28,11.5,Art-Photography,Art
1,"Love, Pamela",Pamela Anderson,31 Jan 2023,Hardback,18.99,24.5,Art-Photography,Art
2,"Tomorrow, and Tomorrow, and Tomorrow",Gabrielle Zevin,14 Jul 2022,Hardback,19.99,21.0,Art-Photography,Art
3,I'm Glad My Mom Died,Jennette McCurdy,15 Sep 2022,Hardback,22.95,31.5,Art-Photography,Art
4,Fleabag: The Scriptures,Phoebe Waller-bridge,13 May 2021,Paperback,14.54,21.0,Art-Photography,Art
...,...,...,...,...,...,...,...,...
9233,The Overstory,Richard Powers,01 Jul 2019,Paperback,12.00,13.5,Crime-and-Thriller,Crime-Thriller
9234,Triple,Ken Follett,09 Oct 2019,Paperback,11.84,12.5,Crime-and-Thriller,Crime-Thriller
9235,The Dark Hours,Michael Connelly,12 May 2022,Paperback,9.30,11.5,Crime-and-Thriller,Crime-Thriller
9236,The Hate U Give,Angie Thomas,06 Apr 2017,Paperback,9.48,11.5,Crime-and-Thriller,Crime-Thriller
9237,The Picture of Dorian Gray,Oscar Wilde,02 Jul 2008,Paperback,6.39,6.5,Crime-and-Thriller,Crime-Thriller

In [72]:
repos['genero'].unique()

array(['Art', 'Audio-Books', 'Biography', 'Other', 'Childrens-Books',
       'Crime-Thriller', 'Dictionaries', 'Fiction', 'History',
       'Self-help', 'Poetry', 'Religion', 'Romance', 'Fantasy',
       'Young Adult Novel', 'Travel-Holiday-Guides', 'Autobiography',
       'Graphic-Novel'], dtype=object)

In [73]:
sp.guardado_csv(repos, 'output_files', 'book_repository')

El dataframe ha sido guardado con éxito.

In [51]:
top100 = sp.leer_csv('output_files', 'top_100_trending')
top100

El archivo se ha cargado con éxito.

,Rank,book title,book price,rating,author,year of publication,genre,url,genre_split
0,1,"Iron Flame (The Empyrean, 2)",18.42,4.1,Rebecca Yarros,2023,Fantasy Romance,amazon.com/Iron-Flame-Empyrean-Rebecca-Yarros/...,Fantasy Romance
1,2,The Woman in Me,20.93,4.5,Britney Spears,2023,Memoir,amazon.com/Woman-Me-Britney-Spears/dp/16680090...,Memoir
2,3,My Name Is Barbra,31.50,4.5,Barbra Streisand,2023,Autobiography,amazon.com/My-Name-Barbra-Streisand/dp/0525429...,Autobiography
3,4,"Friends, Lovers, and the Big Terrible Thing: A...",23.99,4.4,Matthew Perry,2023,Memoir,amazon.com/Friends-Lovers-Big-Terrible-Thing/d...,Memoir
4,5,How to Catch a Turkey,5.65,4.8,Adam Wallace,2018,"Childrens, Fiction",amazon.com/How-Catch-Turkey-Adam-Wallace/dp/14...,Childrens
...,...,...,...,...,...,...,...,...,...
95,96,First Little Readers Parent Pack: Guided Readi...,11.40,4.7,Deborah Schecter,2010,Nonfiction,amazon.com/First-Little-Readers-Parent-Pack/dp...,Nonfiction
96,97,Hatchet,5.14,4.7,Gary Paulsen,1987,"young adult novel, adventure novel, survival ...",amazon.com/Hatchet-Gary-Paulsen/dp/1416936475/...,young adult novel
97,98,"The Wager: A Tale of Shipwreck, Mutiny and Murder",15.30,4.5,David Grann,2023,Nonfiction,amazon.com/Wager-Tale-Shipwreck-Mutiny-Murder/...,Nonfiction
98,99,"I'm Dead, Now What?: Important Information Abo...",12.99,4.6,Peter Pauper Press,2015,Nonfiction,amazon.com/Important-Information-Belongings-Bu...,Nonfiction
99,100,The Wonky Donkey,5.28,4.8,Craig Smith,2009,"Childrens, Picture Books",amazon.com/Wonky-Donkey-Craig-Smith/dp/0545261...,Childrens

In [52]:
len(top100['genre_split'].unique())

32

In [53]:
top100['genre_split'].unique()

array(['Fantasy Romance', 'Memoir', 'Autobiography', 'Childrens',
       'Fantasy', 'Nonfiction', 'Humor', 'Historical Fiction',
       'Adventure', 'Self-improvement', 'Spiritual Warfare', 'Fiction',
       'Literary', 'Picture Books', 'Picture Book', 'Spirituality',
       'Thriller', 'Finance', 'Health', 'History', 'Self Help',
       'Christmas', 'Educational Material', 'Cookbooks', 'Biography',
       'Cookbook', 'Dark', 'Romance', 'Childrens Literature',
       'Childrens literature', 'Personal Finance', 'young adult novel'],
      dtype=object)

In [57]:
correspondencia_categorias = {
    'Adventure': ['Adventure'],
    'Autobiography': ['Autobiography'],
    'Biography': ['Biography'],
    "Children": ["Children's literature", "Childrens Literature"],
    'Christmas': ['Christmas'],
    'Cookbook': ['Cookbooks', 'Cookbook'],
    'Dark': ['Dark'],
    #'Educational Material': ['Educational material'],
    'Fantasy': ['Fantasy'],
    'Fantasy Romance': ['Fantasy Romance'],
    'Fiction': ['Fiction'],
    #'Finance': ['Finance', 'Personal finance'],
    #'Health': ['Health'],
    'Historical Fiction': ['Historical fiction'],
    'History': ['History'],
    'Humor': ['Humor'],
    'Literary': ['Literary'],
    'Memoir': ['Memoir'],
    'Nonfiction': ['Nonfiction'],
    #'Personal Finance': ['Personal finance'],
    'Picture Book': ['Picture books', 'Picture book'],
    'Romance': ['Romance'],
    'Self-help': ['Self help', 'Self-improvement'],
    'Spirituality': ['Spiritual warfare', 'Spirituality'],
    'Thriller': ['Thriller'],
    'Young Adult Novel': ['Young adult novel']
}

def encontrar_correspondencia(categoria):
    for key, values in correspondencia_categorias.items():
        for value in values:
            if value.lower() in categoria.lower():
                return key
    return 'Other'

In [58]:
top100['genero'] = top100['genre_split'].apply(encontrar_correspondencia)
top100

,Rank,book title,book price,rating,author,year of publication,genre,url,genre_split,genero
0,1,"Iron Flame (The Empyrean, 2)",18.42,4.1,Rebecca Yarros,2023,Fantasy Romance,amazon.com/Iron-Flame-Empyrean-Rebecca-Yarros/...,Fantasy Romance,Fantasy
1,2,The Woman in Me,20.93,4.5,Britney Spears,2023,Memoir,amazon.com/Woman-Me-Britney-Spears/dp/16680090...,Memoir,Memoir
2,3,My Name Is Barbra,31.50,4.5,Barbra Streisand,2023,Autobiography,amazon.com/My-Name-Barbra-Streisand/dp/0525429...,Autobiography,Autobiography
3,4,"Friends, Lovers, and the Big Terrible Thing: A...",23.99,4.4,Matthew Perry,2023,Memoir,amazon.com/Friends-Lovers-Big-Terrible-Thing/d...,Memoir,Memoir
4,5,How to Catch a Turkey,5.65,4.8,Adam Wallace,2018,"Childrens, Fiction",amazon.com/How-Catch-Turkey-Adam-Wallace/dp/14...,Childrens,Other
...,...,...,...,...,...,...,...,...,...,...
95,96,First Little Readers Parent Pack: Guided Readi...,11.40,4.7,Deborah Schecter,2010,Nonfiction,amazon.com/First-Little-Readers-Parent-Pack/dp...,Nonfiction,Fiction
96,97,Hatchet,5.14,4.7,Gary Paulsen,1987,"young adult novel, adventure novel, survival ...",amazon.com/Hatchet-Gary-Paulsen/dp/1416936475/...,young adult novel,Young Adult Novel
97,98,"The Wager: A Tale of Shipwreck, Mutiny and Murder",15.30,4.5,David Grann,2023,Nonfiction,amazon.com/Wager-Tale-Shipwreck-Mutiny-Murder/...,Nonfiction,Fiction
98,99,"I'm Dead, Now What?: Important Information Abo...",12.99,4.6,Peter Pauper Press,2015,Nonfiction,amazon.com/Important-Information-Belongings-Bu...,Nonfiction,Fiction
99,100,The Wonky Donkey,5.28,4.8,Craig Smith,2009,"Childrens, Picture Books",amazon.com/Wonky-Donkey-Craig-Smith/dp/0545261...,Childrens,Other

In [59]:
top100['genero'].unique()

array(['Fantasy', 'Memoir', 'Autobiography', 'Other', 'Fiction', 'Humor',
       'Adventure', 'Self-help', 'Spirituality', 'Literary',
       'Picture Book', 'Thriller', 'History', 'Christmas', 'Cookbook',
       'Biography', 'Dark', 'Romance', 'Children', 'Young Adult Novel'],
      dtype=object)

In [37]:
categorias = {
    'Fantasy romance': 'Fantasy Romance',
    'Memoir': 'Biography',
    'Autobiography': 'Biography',
    "Childrens": "Children",
    'Fantasy': 'Fantasy',
    'Nonfiction': 'Nonfiction',
    'Humor': 'Humor',
    'Historical fiction': 'Historical Fiction',
    'Adventure': 'Adventure',
    'Self-improvement': 'Self-help',
    'Spiritual warfare': 'Spirituality',
    'Fiction': 'Fiction',
    'Literary': 'Literary',
    'Picture Book': 'Picture Book',
    'Picture books': 'Picture Book',
    'Spirituality': 'Spirituality',
    'Thriller': 'Thriller',
    'Finance': 'Finance',
    'Health': 'Health',
    'History': 'History',
    'Self Help': 'Self-help', 
    'Christmas': 'Christmas',
    'Educational material': 'Educational Material',
    'Cookbooks': 'Cookbook',
    'Cookbook': 'Cookbook',
    'Biography': 'Biography',
    'Dark': 'Dark',
    'Romance': 'Romance',
    "Childrens Literature": "Children",
    'Childrens literature': "Children",
    'Personal finance': 'Finance',
    'Young adult novel': 'Young Adult Novel'
}

In [38]:
top100['genre_split'] = top100['genre_split'].map(categorias)
top100['genre_split'].unique()

array(['Fantasy Romance', 'Biography', 'Children', 'Fantasy',
       'Nonfiction', 'Humor', 'Historical Fiction', 'Adventure',
       'Self-help', 'Spirituality', 'Fiction', 'Literary', 'Picture Book',
       nan, 'Thriller', 'Finance', 'Health', 'History', 'Christmas',
       'Educational Material', 'Cookbook', 'Dark', 'Romance',
       'Young Adult Novel'], dtype=object)

In [60]:
sp.guardado_csv(top100, 'output_files', 'top_100_trending')

El dataframe ha sido guardado con éxito.

Adventure
Autobiography
Biography
Children's Literature
Christmas
Cookbook
Dark
Educational Material
Fantasy
Fantasy Romance
Fiction
Finance
Health
Historical Fiction
History
Humor
Literary
Memoir
Nonfiction
Personal Finance
Picture Book
Romance
Self-help
Spirituality
Thriller
Young Adult Novel

In [10]:
goodreads = sp.leer_csv('output_files', 'goodreads_books')
goodreads

El archivo se ha cargado con éxito.

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,0439785960,9780439785969,English,652,2095690,27591,9/16/2006,Scholastic Inc.
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,4.49,0439358078,9780439358071,English,870,2153167,29221,9/1/2004,Scholastic Inc.
2,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,0439554896,9780439554893,English,352,6333,244,11/1/2003,Scholastic
3,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,4.56,043965548X,9780439655484,English,435,2339585,36325,5/1/2004,Scholastic Inc.
4,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,4.78,0439682584,9780439682589,English,2690,41428,164,9/13/2004,Scholastic
...,...,...,...,...,...,...,...,...,...,...,...,...
11118,45631,Expelled from Eden: A William T. Vollmann Reader,William T. Vollmann/Larry McCaffery/Michael He...,4.06,1560254416,9781560254416,English,512,156,20,12/21/2004,Da Capo Press
11119,45633,You Bright and Risen Angels,William T. Vollmann,4.08,0140110879,9780140110876,English,635,783,56,12/1/1988,Penguin Books
11120,45634,The Ice-Shirt (Seven Dreams #1),William T. Vollmann,3.96,0140131965,9780140131963,English,415,820,95,8/1/1993,Penguin Books
11121,45639,Poor People,William T. Vollmann,3.72,0060878827,9780060878825,English,434,769,139,2/27/2007,Ecco
11122,45641,Las aventuras de Tom Sawyer,Mark Twain,3.91,8497646983,9788497646987,Spanish,272,113,12,5/28/2006,Edimat Libros